[2012-09-13 15:00] FlixelCommunityBot opened #1 "FlxG.removeCamera does not remove the camera from FlxG.cameras"
Issue [#231](https://github.com/AdamAtomic/flixel/issues/231) by: [moly](http://github.com/moly)

The documentation suggests that removeCamera removes the camera from the game, but it actually stays in the FlxG.cameras array and may continue to be drawn to.

[2012-09-13 15:00] FlixelCommunityBot opened #2 "I've added a counterpart to the getKeyCode function called getKeyName ..."
Issue [#230](https://github.com/AdamAtomic/flixel/issues/230) by: [SestrenExsis](http://github.com/SestrenExsis)

... that allows you to look up the given String name of a particular key code.

[2012-09-13 15:00] FlixelCommunityBot opened #3 "fix for issue #228 regarding FlxSound.proximity"
Issue [#229](https://github.com/AdamAtomic/flixel/issues/229) by: [noio](http://github.com/noio)

This fixes an issue causing sound volume to be computed as a linear function of distance, in stead of decreasing with increasing distance.

[2012-09-13 15:00] FlixelCommunityBot opened #4 "FlxSound.proximity is broken."
Issue [#228](https://github.com/AdamAtomic/flixel/issues/228) by: [noio](http://github.com/noio)

The proximity feature doesn't work.

I'm guessing this line: https://github.com/AdamAtomic/flixel/blob/master/org/flixel/FlxSound.as#L226 should be something like

[code]

[2012-09-13 15:00] FlixelCommunityBot opened #5 "FlxCamera follow jitters"
Issue [#227](https://github.com/AdamAtomic/flixel/issues/227) by: [volvis](http://github.com/volvis)

I noticed an ever slight jitter around my playable character when the camera was tracking it. Imagine the sprite jumping a pixel in advance and back the second frame and you get a good idea of the effect I'm talking about.

Poking around the update call in FlxCamera, rounding the coordinates of th

[2012-09-13 15:00] FlixelCommunityBot opened #6 "Missing usage of particleClass in FlxEmitter.emitParticle()"
Issue [#226](https://github.com/AdamAtomic/flixel/issues/226) by: [glcoder](http://github.com/glcoder)

<b>Affected version:</b> master, AdamAtomic-flixel-8989e50

Since I want to use a custom FlxParticle for FlxEmitter I looked into docs and found that I can use particleClass to override default FlxParticle, I set it and nothing happend. Then I looked into code and saw that emitParticle() don't u

[2012-09-13 15:00] FlixelCommunityBot opened #7 "Suggested fix for issue #224, FlxTilemap.ray() Result value always null"
Issue [#225](https://github.com/AdamAtomic/flixel/issues/225) by: [cr0ybot](http://github.com/cr0ybot)

Added rayHit() function to FlxTilemap that explicitly returns an FlxPoint if the ray hits anything, and returns null otherwise. Default ray() function relies on passing a variable as reference to receive the hit result, which does not seem to work. See http://stackoverflow.com/questions/3708371/

[2012-09-13 15:00] FlixelCommunityBot opened #8 "FlxTilemap.ray() Result value always null"
Issue [#224](https://github.com/AdamAtomic/flixel/issues/224) by: [cr0ybot](http://github.com/cr0ybot)

Supposedly AS3 passes all objects as reference, but this does not appear to be the case with the "Result" FlxPoint in FlxTilemap.ray(). Checking the Result value always results in null.

See this stackoverflow question for a very similar situation:
http://stackoverflow.com/questions/3708371/acti

[2012-09-13 15:00] FlixelCommunityBot opened #9 "FlxSprite#overlap and FlxSprite#overlapAt only check the first element of a FlxGroup"
Issue [#223](https://github.com/AdamAtomic/flixel/issues/223) by: [rogerbraun](http://github.com/rogerbraun)

It seems the code uses the wrong length variable. The one that is used is always 1, so it will only check the first element of the FlxGroup. This patch uses the length attribute of the FlxGroup object and fixes the behaviour.

[2012-09-13 15:00] FlixelCommunityBot opened #10 "FlxEmitter problems with non-square sprites"
Issue [#222](https://github.com/AdamAtomic/flixel/issues/222) by: [cyberpro4](http://github.com/cyberpro4)

I've got some problems with FlxEmitter rotation: I've used some non-square image as particles but during rotation happen two things:

First, the particles was cutted: this was caused by loadRotatedGraphic in makeParticles function: the default AutoBuffer parameter is set to false and there's

[2012-09-13 15:00] FlixelCommunityBot opened #11 "AutoDestroy parameter in FlxSound.loadEmbedded() and loadStream() does nothing"
Issue [#221](https://github.com/AdamAtomic/flixel/issues/221) by: [axcho](http://github.com/axcho)

Looking at the code for FlxSound.loadEmbedded() and FlxSound.loadStream(), it is clear that the AutoDestroy parameter is never used. I would expect to see a line like this as the last line before the return statement in both those functions:
`autoDestroy = AutoDestroy;`

[2012-09-13 15:00] FlixelCommunityBot opened #12 "Incorrect "moves" default value for FlxText and FlxTilemap"
Issue [#220](https://github.com/AdamAtomic/flixel/issues/220) by: [avoxgames](http://github.com/avoxgames)

In [documentation](http://flixel.org/docs/org/flixel/FlxObject.html#moves) said that:

[2012-09-13 15:00] FlixelCommunityBot opened #13 "Alpha changing incorrectly"
Issue [#219](https://github.com/AdamAtomic/flixel/issues/219) by: [mouseas](http://github.com/mouseas)

I have the following code in a FlxSprite:

[code]

Instead of taking 15 seconds to fade out, the sprite fades out in less than a second. I took a quick poke into the alpha-related code in FlxSprite, and it looks like alpha is adjusted in discrete increments. Problem is, if the amount the alpha i

[2012-09-13 15:01] FlixelCommunityBot opened #14 "new raycasting code to check out"
Issue [#218](https://github.com/AdamAtomic/flixel/issues/218) by: [AdamAtomic](http://github.com/AdamAtomic)

http://bullettimeninja.blogspot.com/2012/01/lasers-and-ray-casting.html

might be main branch material??

[2012-09-13 15:01] FlixelCommunityBot opened #15 "FlxG.as line 738,743 undefined property bitmapData"
Issue [#217](https://github.com/AdamAtomic/flixel/issues/217) by: [kreso22](http://github.com/kreso22)

My editor caught it (Access of undefined property bitmapData)

[code]

[2012-09-13 15:01] FlixelCommunityBot opened #16 "Animation looping problem"
Issue [#216](https://github.com/AdamAtomic/flixel/issues/216) by: [camasthecat](http://github.com/camasthecat)

FlxSprite's looping Boolean is currently doing nothing because this in FlxSprite::play()

if(!Force && (_curAnim != null) && (AnimName == _curAnim.name) && (_curAnim.looped || !finished)) return;

Should be this:

if(!Force && (_curAnim != null) && (AnimName == _curAnim.name) && (!_curAn

[2012-09-13 15:01] FlixelCommunityBot opened #17 "Added extra functions to "Input""
Issue [#215](https://github.com/AdamAtomic/flixel/issues/215) by: [IQAndreas](http://github.com/IQAndreas)

Added:
- getKeyName - Returns the key's name based on the passed in KeyCode
- justPressedAny - Was any key just pressed?
- justReleasedAny - Was any key just released? (duh!)

[2012-09-13 15:01] FlixelCommunityBot opened #18 "FlxU.formatArray() includes first element twice"
Issue [#214](https://github.com/AdamAtomic/flixel/issues/214) by: [axcho](http://github.com/axcho)

`FlxU.formatArray()` first adds `AnyArray[0].toString()` to the result string, then iterates through the array starting from `var i:uint = 0;` which duplicates the first element. It should iterate from `var i:uint = 1;` instead.

[2012-09-13 15:01] FlixelCommunityBot opened #19 "Suggested fix for issue #158"
Issue [#213](https://github.com/AdamAtomic/flixel/issues/213) by: [IQAndreas](http://github.com/IQAndreas)

The FlxObject following a path will continue to move even if they run
out of path. ( see Issue #158 )
https://github.com/AdamAtomic/flixel/issues/158

This fix adds a "StopWhenFinished" option to "FlxObject::followPath",
as well as some minor changes to avoid repetitious code.

[2012-09-13 15:01] FlixelCommunityBot opened #20 "Suggested fix for Issue #206"
Issue [#212](https://github.com/AdamAtomic/flixel/issues/212) by: [IQAndreas](http://github.com/IQAndreas)

Using the following function names results in Migration Issue warning
from Flash Professional:
onKeyUp, onKeyPress, onKeyDown, onMouseDown, onMouseUp, onMouseMove
See Issue #206 https://github.com/AdamAtomic/flixel/issues/206

Replaced all occurances of those names with:
handleKeyUp, handleK

[2012-09-13 15:01] FlixelCommunityBot opened #21 "Fix for issue #191"
Issue [#211](https://github.com/AdamAtomic/flixel/issues/211) by: [IQAndreas](http://github.com/IQAndreas)

Fixed Issue #191 - FlxU.round() giving incorrect results for negative numbers.
https://github.com/AdamAtomic/flixel/issues/191

[2012-09-13 15:01] FlixelCommunityBot opened #22 "Move "org.flixel.*" package to "src" folder"
Issue [#210](https://github.com/AdamAtomic/flixel/issues/210) by: [IQAndreas](http://github.com/IQAndreas)

This is a VERY minor issue, but if the `org.flixel.*` package is moved to it's own source folder (preferably `src`), it's much easier to import into Eclipse based projects, such as FlashBuilder and FDT.

[2012-09-13 15:01] FlixelCommunityBot opened #23 "Fix to issue #193"
Issue [#209](https://github.com/AdamAtomic/flixel/issues/209) by: [gjl6931](http://github.com/gjl6931)

The Preloader class can now go to urls with http:// or https:// without failing.

[2012-09-13 15:01] FlixelCommunityBot opened #24 "debugger overlay should display number of active sounds"
Issue [#208](https://github.com/AdamAtomic/flixel/issues/208) by: [AdamAtomic](http://github.com/AdamAtomic)

assuming all sounds are played through flixel, i SHOULD be able to count the number of active sounds and display that as part of the performance window. would be nice for tracking down Flash sound thread issues (even though it's not guaranteed to reflect the state of the sound thread)

[2012-09-13 15:01] FlixelCommunityBot opened #25 "Mouse.as doesn't like negative cursor offsets mixed with native Flash"
Issue [#207](https://github.com/AdamAtomic/flixel/issues/207) by: [ChainedLupine](http://github.com/ChainedLupine)

This is a bit of an edge case, but it's something that will be a rather unfun "gotcha" if you happen to be mixing native Flash display objects with Flixel.

If you want to center a mouse cursor, and use something like this:

[code]

Then mouse events will stop firing for any Flash ob

[2012-09-13 15:01] FlixelCommunityBot opened #26 "Hi, There are some migration issue if publish by Flash IDE"
Issue [#206](https://github.com/AdamAtomic/flixel/issues/206) by: [cjboy1984](http://github.com/cjboy1984)

Following are the issue function name:
onKeyUp, onKeyPress, onKeyDown, onMouseDown, onMouseUp, onMouseMove

If you publish by Flash IDE, it will show lots of warnning like:
"Migration issue: The onRelease event handler is not triggered automatically by Flash Player at run time in ActionScrip

[2012-09-13 15:01] FlixelCommunityBot opened #27 "focusLost auto-pause toggle"
Issue [#205](https://github.com/AdamAtomic/flixel/issues/205) by: [SeiferTim](http://github.com/SeiferTim)

Would be nice to have a variable in FlxGame that sets whether or not the game pauses on focusLost.
if it's easy to set/clear, you could make it so the game does not pause on the menu screen or on cutscenes or something.

[2012-09-13 15:01] FlixelCommunityBot opened #28 "FlxGroup.as sort() crashes if it encounters another FlxGroup"
Issue [#204](https://github.com/AdamAtomic/flixel/issues/204) by: [ChainedLupine](http://github.com/ChainedLupine)

Example:

[code]

In FlxGroup.sort, at sortHandler, it should check to see if it's trying to sort a FlxGroup.  Something like:

[code]

[2012-09-13 15:01] FlixelCommunityBot opened #29 "FlxQuadTrees.as - overlapProcessed isn't properly cleared (2.55 Master)"
Issue [#203](https://github.com/AdamAtomic/flixel/issues/203) by: [ChainedLupine](http://github.com/ChainedLupine)

In FlxQuadTrees.as, around line 568, the overlapProcessed flag isn't be cleared every cycle through the iterator.  This will cause problems if you are using processingCallback to prevent overlap detection in certain circumstances.

Example: Using FlxQuadTrees as a broad-phase detecto

[2012-09-13 15:01] FlixelCommunityBot opened #30 "FlxGroup.kill() and Flxgroup.revive()"
Issue [#202](https://github.com/AdamAtomic/flixel/issues/202) by: [dreadknought](http://github.com/dreadknought)

I've noticed that FlxGroup.kill() kills all members of the group, as well as the group object itself, but that FlxGroup.revive() only revives the group object itself, and not its members.  Perhaps there could be a fix such that FlxGroup.killmembers() and FlxGroup.revivemembers() would

[2012-09-13 15:01] FlixelCommunityBot opened #31 "FlxCamera and FlxGroup - Make FlxGroup pass its cameras array to its members"
Issue [#201](https://github.com/AdamAtomic/flixel/issues/201) by: [mouseas](http://github.com/mouseas)

I was having a hard time figuring out how to only show object groups on specific cameras. Finally I found out the FlxBasic does not grab its cameras array from the FlxGroup it's in, nor does a FlxGroup apply its cameras to its members. This means I have to tell each object to use a specific arra

[2012-09-13 15:01] FlixelCommunityBot opened #32 "Replace “accumulator >= step” by “accumulator > step” in FlxGame.as"
Issue [#200](https://github.com/AdamAtomic/flixel/issues/200) by: [ghost](http://github.com/ghost)

https://github.com/krix/flixel/commit/7fbc822359dfdfd6d74d9b9eaf86e0699c1cb0da

More explanation: http://forums.flixel.org/index.php/topic,5072.0.html

[2012-09-13 15:01] FlixelCommunityBot opened #33 "Crash when Streaming MP3s with no ID3 info for Artist or Song Name"
Issue [#198](https://github.com/AdamAtomic/flixel/issues/198) by: [snotwadd20](http://github.com/snotwadd20)

In dev, whenever I try to stream an ID3 that doesn't have info for Artist or Song Name I get a crash. I fixed it with this, in case that helps:

In FlxSound:

protected function gotID3(event:Event=null):void
{
    FlxG.log("got ID3 info!");
    if(_sound.id3.songName != null && _sound.id3.

[2012-09-13 15:01] FlixelCommunityBot opened #34 "FlxTilemap.loadMap() doesn't initialize widthInTiles"
Issue [#197](https://github.com/AdamAtomic/flixel/issues/197) by: [GregoryWeir](http://github.com/GregoryWeir)

FlxTilemap.loadMap() doesn't initialize widthInTiles, but expects it to be zero. It only updates widthInTiles based on the provided map if widthInTiles is 0, which means that loading a new map into an already-initialized FlxTilemap does not change the width of the map.

I suggest that lo

[2012-09-13 15:01] FlixelCommunityBot opened #35 "Error with Quad Tree when making shotgun."
Issue [#196](https://github.com/AdamAtomic/flixel/issues/196) by: [test84](http://github.com/test84)

Hi,

If you want to create something like a shotgun where multiple small bullets move together, if any of them collides, the adjacent ones will get collided. In order to fix it I temporarily increased world divisions to 64: FlxG.worldDivisions = 64; but that doesn't help when you stand next to a t

[2012-09-13 15:01] FlixelCommunityBot opened #36 "Nested FlxGroups call update() functions in the wrong order"
Issue [#195](https://github.com/AdamAtomic/flixel/issues/195) by: [KWarp](http://github.com/KWarp)

In an ideal world, Flixel should call preUpdate() on all game objects, then update(), then postUpdate().

When FlxGroups are nested, this is not the case. The inner FlxGroup will call preUpdate()/update()/postUpdate() during the outer FlxGroup's update() function.

For me, this behavior causes subtl

[2012-09-13 15:01] FlixelCommunityBot opened #37 "FlxTilemap.overlapsWithCallback calls callback when no overlapping"
Issue [#194](https://github.com/AdamAtomic/flixel/issues/194) by: [imagame](http://github.com/imagame)

The tile's registered callback is been calling when there is no overlapping, for tiles that not allow collisions.
The tile callback should be called only if there is overlapping, not in all cases (line 977)

For tiles that allow collisions it is correct.

[2012-09-13 15:01] FlixelCommunityBot opened #38 "FlxPreloader.myURL should take a proper URL"
Issue [#193](https://github.com/AdamAtomic/flixel/issues/193) by: [sabren](http://github.com/sabren)

Right now, FlxPreloader.myURL doesn't really take a URL, and if you use one (with the full http:// prefix), it gets corrupted.
It also prevents https:// URLs.

The fix is pretty simple:

[code]

... Which keeps the current behavior, but also supports full URLs.

[2012-09-13 15:01] FlixelCommunityBot opened #39 "Error FlxTilemap.overlaps() when iterating through FlxGroup"
Issue [#192](https://github.com/AdamAtomic/flixel/issues/192) by: [goshki](http://github.com/goshki)

In: `http://github.com/AdamAtomic/flixel/blob/dev/org/flixel/FlxTilemap.as` in line `870` there is:

`while(i < length)`

It should be `while(i < members.length)` because right now it always iterates only once.

[2012-09-13 15:01] FlixelCommunityBot opened #40 "[2.53] FlxU.round() returns wrong results for negative numbers"
Issue [#191](https://github.com/AdamAtomic/flixel/issues/191) by: [goshki](http://github.com/goshki)

`FlxU.round( -0.9373609324392682 )` returns `-2`
`Math.round( -0.9373609324392682 )` returns `-1`

[2012-09-13 15:01] FlixelCommunityBot opened #41 "Code for FlxG.fade() fade in"
Issue [#190](https://github.com/AdamAtomic/flixel/issues/190) by: [KinoftheFlames](http://github.com/KinoftheFlames)

Just added an optional boolean paramater to FlxG.fade() that controls whether the fade is fading from transparent to a color or a color to transparent (I use a fade out for states I leave and a fade in for states entered, for a smooth look).

Here are the full pastes for the FlxG a

[2012-09-13 15:01] FlixelCommunityBot opened #42 "Updates to flx.py."
Issue [#189](https://github.com/AdamAtomic/flixel/issues/189) by: [ivangonekrazy](http://github.com/ivangonekrazy)

Change to flx.py to make it more cross-platform compatible:
- The script now generates proper file and directory paths
  for Windows, Mac, Linux.

Usability changes:
- Print usage message if no project name is provided.
- The project directory is created if it doesn't yet exist.
- Th

[2012-09-13 15:01] FlixelCommunityBot opened #43 "FlxG.collide with a tilemap doesn't return tiles coordinate"
Issue [#188](https://github.com/AdamAtomic/flixel/issues/188) by: [sakurati](http://github.com/sakurati)

The callback assigned to Flxg.collide gives back a FlxOject with coordinates x = 0 and y = 0 all the time

I used the following code:

[code]

I get the following output for multiple bullets shot:

[code]

Note: the tile resolution used is 8 x 8

[2012-09-13 15:01] FlixelCommunityBot opened #44 "Flixel should warn programmers when FlxCamera fills are transparent"
Issue [#187](https://github.com/AdamAtomic/flixel/issues/187) by: [KWarp](http://github.com/KWarp)

I was writing a FlxCamera subclass when I noticed that moving objects on my screen were leaving a paintbrush trail of themselves as they moved. After HOURS of debugging, I found the problem in my FlxCamera subclass constructor:

`this.bgColor = 0xFFFFFF;  // no alpha`

When it should have been:

`th

[2012-09-13 15:01] FlixelCommunityBot opened #45 "drawTilemap() called infinitely when FlxG.width and FlxG.height is over 1000"
Issue [#186](https://github.com/AdamAtomic/flixel/issues/186) by: [accidentalrebel](http://github.com/accidentalrebel)

Is it normal for drawTilemap() of FlxTilemap.as to be called all the time when FlxG.width and FlxG.height is over 1000? The reason why I am asking is because it is affecting the frame rate of my game.

In order for me to check, I placed a trace under drawTilemap function. Then I

[2012-09-13 15:01] FlixelCommunityBot opened #46 "flixel 2.54 chokes on empty FlxTileMaps"
Issue [#185](https://github.com/AdamAtomic/flixel/issues/185) by: [KWarp](http://github.com/KWarp)

in flxtilemap's draw function:

if(_buffers[i] == null)
    _buffers[i] = new FlxTilemapBuffer(_tileWidth,_tileHeight,widthInTiles,heightInTiles,camera);

If a flxtilemap is empty, then _tileWidth, _tileHeight, widthInTiles, heightInTiles all have a value of zero. Later, an exception is thrown in th

[2012-09-13 15:01] FlixelCommunityBot opened #47 "FlxEmitter documentation needs to mention FlxParticle!"
Issue [#184](https://github.com/AdamAtomic/flixel/issues/184) by: [photonstorm](http://github.com/photonstorm)

The docs for FlxEmitter need to make it clear that you should use an FlxParticle, not an FlxSprite.

The docs for the makeParticles function especially still incorrectly tell people to use FlxSprites.

[2012-09-13 15:01] FlixelCommunityBot opened #48 "Hover over button cursor graphic request"
Issue [#183](https://github.com/AdamAtomic/flixel/issues/183) by: [wgr](http://github.com/wgr)

It would be nice if Flixel had an easy way of changing the cursor when hovering over a button (typically made to look like a hand) built into it.

For now I hacked it in to my project with these changes, but it would be nice if it was supported out of the box:

In FlxButton:
while(i < l)

[2012-09-13 15:01] FlixelCommunityBot opened #49 "makeGraphic, scaling and origin problem"
Issue [#182](https://github.com/AdamAtomic/flixel/issues/182) by: [xraven13](http://github.com/xraven13)

I noticed that scaling doesn't work good when graphic is created with makeGraphic method.   I was changing origin as well ( to 0 ) so if it works with normal origin, test it with other origin then...

[2012-09-13 15:01] FlixelCommunityBot opened #50 "FlxText and problem with camera zoom"
Issue [#181](https://github.com/AdamAtomic/flixel/issues/181) by: [xraven13](http://github.com/xraven13)

When zoom of FlxCamera and FlxGame are not the same,  FlxText objects are not placed on the correct position.   It took me some time to figure out why FlxText doesn't display, and at end it was because he was out the screen.  I tested many things so that I am sure it's not problem in the scrol

[2012-09-13 15:01] FlixelCommunityBot opened #51 "Sprites, Tilemaps, etc ignore FlxCamera.exists / active"
Issue [#180](https://github.com/AdamAtomic/flixel/issues/180) by: [photonstorm](http://github.com/photonstorm)

FlxSprite, FlxTilemap and probably the rest of the Flixel objects do not check the state of an FlxCamera before drawing to its buffer. It should probably check either "exists" or "active" (or both?). As it stands if you create 3 cameras but only want one of them visible and actually rend

[2012-09-13 15:01] FlixelCommunityBot opened #52 "FlxTileblock doesn't loadGraphic until FlxG.resetState is called"
Issue [#179](https://github.com/AdamAtomic/flixel/issues/179) by: [benzido](http://github.com/benzido)

I have a simple 32x32 png, trying to use FlxTileblock has raised a weird issue.

Here's all I have

[code]

[code]

No image is displayed until I call FlxG.resetState(), at which point it works fine.

[2012-09-13 15:01] FlixelCommunityBot opened #53 "FlxU.rotatePoint()"
Issue [#178](https://github.com/AdamAtomic/flixel/issues/178) by: [scaven](http://github.com/scaven)

line 569:
var dy:Number = PivotY+Y; //Y axis is inverted in flash, normally this would be a subtract operation

should clearly be subtract operation (err.. maybe normality changed recently?)

change to:
var dy:Number = PivotY-Y;

[2012-09-13 15:02] FlixelCommunityBot opened #54 "Flixel Master: FlxObject's overlaps method doesn't process FlxGroup correctly"
Issue [#177](https://github.com/AdamAtomic/flixel/issues/177) by: [rodgutierrez](http://github.com/rodgutierrez)

When looping through the members of an FlxGroup in FlxObject's overlaps method (FlxObject line 690), the while loop uses a length variable that has not been declared yet. This results in false negatives. The solution is to use members.length instead of length.

Regards,

Rod

[2012-09-13 15:02] FlixelCommunityBot opened #55 "FlxTilemap ignore the last tiles if startingIndex > 0"
Issue [#176](https://github.com/AdamAtomic/flixel/issues/176) by: [jlong64](http://github.com/jlong64)

If you create a FlxTilemap and set the startingIndex parameter to n, then the last n tiles in the tile graphic will not be rendered.

For example, I have a tile graphic that has 4 tiles in it, and I set startingIndex to 1 so that I can use 0 to represent emptiness. Tiles 1 through 3 will work fi

[2012-09-13 15:02] FlixelCommunityBot opened #56 "FlxButton 'hint' text incorrect..."
Issue [#175](https://github.com/AdamAtomic/flixel/issues/175) by: [SeiferTim](http://github.com/SeiferTim)

when adding a new flxButton, the code hint text shows:

FlxButton (X:int, Y:int, Callback:Function, Label:String = null) …
Callback: The function to call whenever the button is clicked.

But the Callback and Label should be swapped for the button to be created properly.

[2012-09-13 15:02] FlixelCommunityBot opened #57 "FlxButton cant be pause,and click any where on the stage will callback"
Issue [#174](https://github.com/AdamAtomic/flixel/issues/174) by: [nshen](http://github.com/nshen)

click the button to pause the game , but when the game paused , you click any where in on the stage, the trace() always fire

package test
{
   import org.flixel.*;
   public class Bug extends FlxState
   {
      override public function create():void
      {
         super.create()
         this.ad

[2012-09-13 15:02] FlixelCommunityBot opened #58 "Graphic and Animation data stored in XML"
Issue [#173](https://github.com/AdamAtomic/flixel/issues/173) by: [paulmoore](http://github.com/paulmoore)

On projects I've worked on previously (before I knew about Flixel!) I've often found it handy to store graphical and animation details in an external XML file (or other configurable property file).

I've found it makes it easier to maintain and makes it possible for artists to create and upd

[2012-09-13 15:02] FlixelCommunityBot opened #59 "Small performance issue in FlxG.addBitmap()"
Issue [#172](https://github.com/AdamAtomic/flixel/issues/172) by: [tbam](http://github.com/tbam)

Hi there.

`if(!needReverse && Reverse && (pixels.width == (new Graphic).bitmapData.width))`
**This line of code is creating a "new Graphic" in every call to addBitmap.**

I think this was supposed to use the unreversed version (if already cached) and reverse it, but as Flx now adds a "_REVERSE_" to t

[2012-09-13 15:02] FlixelCommunityBot opened #60 "super.destroy() not being called in FlxSprite.destroy()"
Issue [#171](https://github.com/AdamAtomic/flixel/issues/171) by: [toast-](http://github.com/toast-)

Causing memory leaks and FlxPaths never get destroyed.

[2012-09-13 15:02] FlixelCommunityBot opened #61 "AutoDestroy parameter was never used on loadEmbedded and loadStream"
Issue [#170](https://github.com/AdamAtomic/flixel/issues/170) by: [osro](http://github.com/osro)

AutoDestroy parameter was never used on loadEmbedded and loadStream.
Which led to a huge memory leak when using these functions.

[2012-09-13 15:02] FlixelCommunityBot opened #62 "camera not created at (0,0) in gameworld coords"
Issue [#169](https://github.com/AdamAtomic/flixel/issues/169) by: [bpercevic](http://github.com/bpercevic)

The top left point of the default camera does not start at (0,0) in game-world coords like it used to, instead it starts at (0,370).  So if I don't specifically follow an object that is placed at <370 px on the y axis, it appears offscreen.  Not a big deal at all, but beginners in forums wer

[2012-09-13 15:02] FlixelCommunityBot opened #63 "Possible fix for sound issues."
Issue [#168](https://github.com/AdamAtomic/flixel/issues/168) by: [noidexe](http://github.com/noidexe)

Chek the small change to FlxSound. It fixed issue #160 and I think it also fixes issue #167

[2012-09-13 15:02] FlixelCommunityBot opened #64 "Sound stays active on resume"
Issue [#167](https://github.com/AdamAtomic/flixel/issues/167) by: [WingEraser](http://github.com/WingEraser)

Howto produce:
1. When a sound is playing, do a focus lost.
2. Resume and the sound should be playing until it stops.
3. The sound should stays active all the time even it is finished.

I need active, because I've to check when a sound is finished.

[2012-09-13 15:02] FlixelCommunityBot opened #65 "Adding a null object to FlxGroup"
Issue [#163](https://github.com/AdamAtomic/flixel/issues/163) by: [pixelomatic](http://github.com/pixelomatic)

I accidentally added a FlxGroup to another FlxGroup without creating it with "new". (So it was pointing to null.) I called FlxG.collide on that group. I did not get a null pointer exception but game slowed down to 15fps and I accidentally found the cause.

[2012-09-13 15:02] FlixelCommunityBot opened #66 "FlxObject doesn't actually stop at the end of its path"
Issue [#158](https://github.com/AdamAtomic/flixel/issues/158) by: [AriffWambeck](http://github.com/AriffWambeck)

FlxObject doesn't actually stop at the end of its path while in PATH_FORWARD or PATH_BACKWARD modes.
In updatePathMotion(), I tried adding a velocity reset if the pathSpeed is 0 and that seems to have fixed it.

[2012-09-13 15:02] FlixelCommunityBot opened #67 "Independant Music and SFX mutes request"
Issue [#138](https://github.com/AdamAtomic/flixel/issues/138) by: [UberGeorge](http://github.com/UberGeorge)

If it wouldn't be too much of an overhaul, separate Music and SoundFX mutes would be great.

[2012-09-13 15:02] FlixelCommunityBot opened #68 "FlxSprite DrawRegion request."
Issue [#136](https://github.com/AdamAtomic/flixel/issues/136) by: [UberGeorge](http://github.com/UberGeorge)

Could you give FlxSprite the ability to draw just a portion of the image.

[2012-09-13 15:02] FlixelCommunityBot opened #69 "Git Ignore Added"
Issue [#117](https://github.com/AdamAtomic/flixel/issues/117) by: [philmill](http://github.com/philmill)

I just added a basic ignore list to get rid of some OS noise. I basically copied it from as3CoreLib and added windows desktop.ini to it.

[2012-09-14 17:42] IQAndreas commented on #69
A few of those _should be_ uneccessary (such as for SVN or Java files). I would actually recommend this `gitignore`:
https://github.com/github/gitignore/blob/master/Actionscript.gitignore

It's a tad simpler, though it doesn't contain any "OS noise".

[2012-09-14 18:58] IQAndreas commented on #21
Fixed by commit adfb38177b3e783ad06c7d5ae2fe3149d003aba6

[2012-09-14 18:58] #21 closed, assigned to nobody

[2012-09-14 18:59] IQAndreas commented on #40
Fixed by commit adfb38177b3e783ad06c7d5ae2fe3149d003aba6

[2012-09-14 18:59] #40 closed, assigned to nobody

[2012-09-14 19:34] moly commented on #69
That repository also contains .gitignores for os noise.

https://github.com/github/gitignore/blob/master/Global/Windows.gitignore
https://github.com/github/gitignore/blob/master/Global/OSX.gitignore
https://github.com/github/gitignore/blob/master/Global/Linux.gitignore

I think you should be able to combine them easily enough.

[2012-09-15 11:18] #12 closed, assigned to nobody

[2012-09-15 17:31] moly commented on #38
closed by dde536b

[2012-09-15 17:31] #38 closed, assigned to nobody

[2012-09-15 19:07] Dovyski commented on #42
I think we should get rid of flx.py.

It makes no sense to me. If we need to test something, we should have a `samples` or `tests` folder containing some code (just like Starling does), or we should have no sample/test folder at all (like FlashPunk and Away3D do, for instance).

[2012-09-15 20:28] Dovyski commented on #57
There is no easy way of fixing it. I could reproduce it and the button is not working the way it should because `if(FlxG.paused)return` prevents `super.update()` from being called.

After the button is clicked, it needs another update cycle to get back to normal state, what will never happen because `super.update()` is not being called anymore, so the button's update method is not called as well.

[2012-09-15 23:49] moly commented on #57
Personally, I think that it should be left up to the programmer to work around. Flixel doesn't contain any pause logic itself, the `FlxG.paused` variable is just there to help you implement your own pause feature however you want.

[2012-09-16 01:46] Dovyski commented on #57
I agree. We should keep it dry and simple so any complex idea (e.g. custom pause) can be implemented without Flixel getting in the way.

[2012-09-16 01:55] Dovyski commented on #69
I guess we should combine them:

https://github.com/github/gitignore/blob/master/Actionscript.gitignore
https://github.com/github/gitignore/blob/master/Global/Windows.gitignore
https://github.com/github/gitignore/blob/master/Global/OSX.gitignore
https://github.com/github/gitignore/blob/master/Global/Linux.gitignore

The Java and SVN ignores from philmill seem unnecessary indeed.

[2012-09-16 09:59] IQAndreas commented on #20
Issue resolved by commit 96087a6ba5655fea6459d6dc65cc40db3a69f722

[2012-09-16 09:59] #20 closed, assigned to nobody

[2012-09-16 09:59] IQAndreas commented on #26
Issue resolved by commit 96087a6ba5655fea6459d6dc65cc40db3a69f722

[2012-09-16 09:59] #26 closed, assigned to IQAndreas

[2012-09-16 10:19] IQAndreas commented on #60
Resolved by commit 574ae5b78f65b29de30a7b87efb2720500a3caf7

[2012-09-16 10:19] #60 closed, assigned to IQAndreas

[2012-09-16 10:54] IQAndreas commented on #65
I'm not sure what to do with this one. The fix is easy, but should it throw an error if you try to `add()` a null object, or just ignore it?

[2012-09-16 10:56] IQAndreas commented on #65
I also had a thought on how to do it, keeping in mind this message:

How about, if it is unable to add it to the group (which would also happen if you pass in a `null` object), the function returns `null`? Otherwise, (as it does now) it returns the object passed in.

[2012-09-16 11:14] IQAndreas commented on #18
Resolved by merge 2be8e01e29a6d29aae5520d5496b636fe798eab1

[2012-09-16 11:14] #18 closed, assigned to nobody

[2012-09-16 11:20] #16 closed, assigned to nobody

[2012-09-16 12:34] IQAndreas commented on #42
I agree, along with `build_docs.sh`. They could definitely come in handy for the future, but perhaps don't belong in the main repository.

I think you misunderstand. The script generates the Preloader class, the MenuState class, and the GameState class (and optionally a FlashBuilder CSS file), allowing you a quick way of starting up a new project; It may come in handy for some.

Should we:
- Open

[2012-09-16 14:07] Dovyski commented on #42
Indeed I misunderstood. I thought it generated a testing code, not a project. I think we should move them to a separate folder ("utils" seems nice to me).

[2012-09-16 17:25] Dovyski commented on #65
If think this approach (return `null` if not added) may cause some headache for developers. The way I would test to check if something was added would be:

[code]

Both tests evaluate to `true` if `obj == null`. That result means the objected was added to the group, but it's not what happened.

I can't think why someone would like to add a `null` entry to a group. I guess it only happens by mistak

[2012-09-16 17:54] moly commented on #56
I think this must be from an older version of flixel, the parameters appear in the correct order for me. Mark as `wontfix` and close?

[2012-09-16 21:11] IQAndreas commented on #56
I was thinking the same, so I sent him a message on Twitter and am still awaiting a response. I'll let you know what he says and update this issue accordingly. (EDIT: confirmed by SeiferTim that the issue is no longer valid in this version of Flixel)

[2012-09-16 21:25] IQAndreas commented on #65
Does Flixel have any sort of error reporting system, do we use `FlxG.log`, or throw a "vanilla" Flash Error?

[2012-09-16 21:43] IQAndreas commented on #65
I found a similar case, but where Flixel this time does something about it.

Inside of `FlxObject::followPath()`:

[code]

So, unless anyone has any objections, I'll do the same inside of `FlxGroup`.

[2012-09-16 22:00] IQAndreas opened #86 "Add a callback for when a FlxObject has reached the end of its path"
It would be handy for developers if they were notified when a FlxObject has reached the end of a path.

This could happen with a callback that is passed to `followPath()`, or as a dispatched event (Flixel tends to favor the former).

[2012-09-16 22:23] IQAndreas opened #88 "Create GitHub page for Flixel"
The page should definitely host the ASDoc, allowing you to view the documentation from a browser, but perhaps it can contain other things such as download links to the current FlixelCommunity version of the SWC etc.

[2012-09-16 22:56] IQAndreas opened #89 "Add `FlxG.warning()` or `FlxG.error()`"
Currently Flixel does the following when "reporting" an error:

[code]

It would be clearer being able to do one of these (and avoids the repetitious "WARNING:" prefix):

[code]

This allows you to handle errors differently if you are debugging or if the error occurs when it's running on a server. Or perhaps you want all errors logged to a server rather than the Flash console.

(passing `this` all

[2012-09-16 23:14] IQAndreas commented on #59
If anyone has a **quick fix** for this issue, feel free to submit it.

Otherwise, I'd like to take on this task. I had some plans on fixing a few "flaws" in FlxSprite, but it's been so long since I worked with it, I don't remember what all I did.
https://github.com/IQAndreas/flixel/commits/dev_FlxSprite_improvements

I think it may be easiest to tackle this problem at the same time as I add those

[2012-09-16 23:57] moly commented on #59
I have a quick fix here: https://github.com/moly/flixel/commit/7998283cb5747439f88be491cf1c31a7f1ffb971
I'll turn it into a pull request when I can.

[2012-09-17 13:58] Dovyski commented on #89
I like the idea. This can produce "red" or "yellow" text lines in Flixel console, something much easier to notice as a warning/error.

[2012-09-17 14:06] Dovyski commented on #56
I think it too. Even if the he responds, it must be an IDE related problem. I've checked and `FlxButton` is ok so as its constructor ASDocs.

For me, we can mark as `wontfix` or `cannot reproduce` and close.

[2012-09-17 14:45] Dovyski opened #90 "Make Flixel GPU accelerated"
Flixel should move away from the CPU and become GPU accelerated. There are some projects to use as starting point:
- https://github.com/arkeus/Axel/
- https://github.com/PrimaryFeather/Starling-Framework

[2012-09-17 14:50] IQAndreas commented on #69
Resolved with commit 0bb7e5159fbc496efc8ab765f8b3737c60757e91

[2012-09-17 14:50] #69 closed, assigned to IQAndreas

[2012-09-17 14:51] #11 closed, assigned to moly

[2012-09-17 14:53] IQAndreas commented on #61
Resolved by commit 1b28b9dd12283d6b169675e9cf7b35fe9ac6d2de

[2012-09-17 14:53] #61 closed, assigned to moly

[2012-09-17 15:02] IQAndreas opened #91 "`FlxTilemap.ray()` should return the point of collision"
Rather than meddle with changing variables in references, `FlxTilemap.ray()` should work in the following way:
- If a collision occurs, returns the `FlxPoint` at which it happened
- If a collision does not occur, returns `null`

NOTE: This is marked as a future release so as to avoid breaking anyone's current code!

[2012-09-17 15:08] IQAndreas commented on #8
Resolved by commit e5a7345970bcae08b60b910af0933f497b417636

[2012-09-17 15:08] #8 closed, assigned to nobody

[2012-09-17 15:08] IQAndreas commented on #7
Resolved by commit e5a7345970bcae08b60b910af0933f497b417636

Note that the suggestion by @cry0bot may still be used in the future:
https://github.com/FlixelCommunity/flixel/issues/91

[2012-09-17 15:08] #7 closed, assigned to nobody

[2012-09-17 16:26] IQAndreas opened #93 "Finish full-screen support"
2c1e5dc790e74b1ebeeb2ccd28a677a640c00f10 introduced a function to trigger full-screen support. The code is not complete, but still requires some way of handling exiting out of full-screen.

[2012-09-17 16:28] IQAndreas commented on #93
I'm not sure what milestone to use. The new function was an enhancement, so it should actually be saved for a future release, but since it's in now, perhaps it's a better idea to "finish the job" in this release.

[2012-09-17 16:40] IQAndreas commented on #23
Resolved by commit dde536bc36180d5ed58faab6777ea4e7af73a6ea

[2012-09-17 16:40] #23 closed, assigned to nobody

[2012-09-17 19:04] moly commented on #52
I can't reproduce this issue. Can anyone else?

[2012-09-17 19:58] moly commented on #28
The problem is that the default sortIndex is "y", and FlxGroup doesn't have a y property. The suggested fix won't really work because the function will still crash for other objects that don't have a y property (like FlxBasic). It would also leave the FlxGroups randomly unsorted in the parent FlxGroup.

[2012-09-17 20:50] IQAndreas commented on #28
How about adding an error message inside of `FlxGroup::sortHandler()` along these lines:

[code]

This will clearly alert the developer to what is wrong and why, rather than leave it up to Flash Player to throw an ugly, non-descriptive error.

Though, it may be better checking through all members first in the `sort` function rather than in `sortHandler()` (since `sortHandler` will iterate through

[2012-09-17 23:42] #56 closed, assigned to nobody

[2012-09-17 23:43] #57 closed, assigned to Dovyski

[2012-09-18 01:35] Dovyski commented on #4
noio's tip was good, but at the wrong line.

[2012-09-18 01:42] Dovyski commented on #3
As far as I tested, this fix solves the problem, but it makes `fadeIn()` and `fadeOut()` stop working. Since there is another issue (https://github.com/FlixelCommunity/flixel/issues/4) covering this same problem, I am closing this one.

[2012-09-18 01:42] #3 closed, assigned to Dovyski

[2012-09-18 18:28] moly commented on #65
Closed by 39defb4

[2012-09-18 18:28] #65 closed, assigned to IQAndreas

[2012-09-18 18:47] moly commented on #44
I don't agree with this, it's possible to intentionally want a transparent background. See: http://flixel.org/flxblur
Instead, I would recommend updating the documentation for FlxCamera.bgColor and FlxG.bgColor to make it clear that colors should be in the AARRGGBB format.

[2012-09-18 18:53] moly opened #104 "Replace all Arrays with Vectors"
Theoretically flixel should run quicker if everything used typed Vectors instead of Arrays. This would probably need to be benchmarked to confirm.

[2012-09-18 18:58] moly opened #105 "Add a cache for sounds."
Currently, FlxSound creates a new Flash Sound every time loadEmbedded is called. It would be quicker if it operated more like FlxSprite's loadGraphic and tried to use a previously cached Sound when available instead.

[2012-09-18 19:03] moly opened #106 "FlxCamera::fill optimisation"
In the FlxCamera::fill function, it's possible to skip a call to `copyPixels` if the fill colour is fully opaque or `BlendAlpha` is false:

[code]

I ran a very basic test to confirm this is actually faster:

[code]

The stage size was set to 800x600.

Original flixel: 23741
My fix: 9206

As you can see, the function is now more than twice as quick when using solid fills. I would note that `fill()

[2012-09-18 19:13] moly opened #107 "A new FlxQuadTree is created for every call to FlxG::overlap"
I don't know much about collision, but it seems very inefficient to construct an entire new quadtree for every call to overlap, even when the scene hasn't changed. I implemented some basic object pooling here: http://forums.flixel.org/index.php/topic,6663.0.html which helps get rid of all the expensive new allocations, but I'm wondering if it's possible to make more substantial changes to the coll

[2012-09-18 19:20] IQAndreas commented on #44
Since alpha values in hex colors don't work [the way I think they should](http://www.kirupa.com/forum/showthread.php?360233-My-Rant-on-Opacity-Transparency-and-hex-values)...

Would it be possible to separate off the alpha value as a separate variable or optional parameter on the FlxCamera? That way it's assumed they want no transparency, but developers can manually change the alpha if they want t

[2012-09-18 19:32] moly commented on #44
I don't see why not.

[2012-09-18 19:33] IQAndreas commented on #104
Last I heard Arrays are only faster for <can't remember name> types, such as `int`, `uint`, `Number`, `Boolean`, and `String`. Otherwise Arrays are pretty much identical in speed to Vectors.

EDIT: I'm not sure if these stats hold for the current version of Flash Player, but Vectors for all other data types have faster read speed, but slower write speed. But considering how 90% of the time you are

[2012-09-18 20:16] Dovyski commented on #104
I was going to post that same Jackson's article :)

I think we could run his benchmark using the current Flash Player and check if the numbers are still valid. After we can make some tests to check if Flixel would benefit from using `Vector` instead of `Array`.

[2012-09-18 23:39] Dovyski opened #108 "FlxText produces blurry text if center-justified"
![Blurry text](http://i.imgur.com/3jEjy.png)

`FlxText` makes text blurry sometimes if centered or justified. There is a hack [here](http://forums.flixel.org/index.php/topic,239.0.html) that solves the problem (for single and multi-ine texts).

[2012-09-19 18:16] Dovyski commented on #28
I really liked the idea @IQAndreas described. The code will continue to sort without exceptions and "non-sortable" objects will be place in no particular order (compliant with Flash's way).

As he suggested, the test should be performed in the `sort()` function rather than in `sortHandler()` to avoid lots of log entries (and increase performance).

[2012-09-19 18:19] Dovyski commented on #93
If it's not a complex process, I see no problem if we "finish the job" in this release. However if it takes some deeper analysis, I think we should work on it in the next milestone.

I had no chance to play with Flash fullscreen capabilities so far.

[2012-09-19 18:28] moly commented on #28
Is it possible just to get rid of `sortHandler` and use `members.sortOn()` instead?

[2012-09-19 18:41] Dovyski commented on #28
That would be a good idea, but according to Flash docs related to  `sortOn()`:

The reason why `FlxGroup#sort()` crashes is exactly because the objects do not have one property in common. I think Flash will thrown an exception if `sortOn()` encounters an object without the sorting property.

[2012-09-19 18:48] moly commented on #28
As Andreas quoted:

[2012-09-19 18:57] Dovyski commented on #28
Sorry, I didn't see it was related to `sortOn`. On that light I see no reason why we should not replace `_sortHandler()` with `members.sortOn()`.

I guess Adam originally created that method to allow subclasses to override the sorting mechanism, but it can still be achieved by overriding the `sort()` method.

[2012-09-19 19:50] IQAndreas commented on #28
I'm all for using `Array.sortOn()` instead.

If this is really important to developers, we could also do something like this:

[code]

[2012-09-19 19:52] IQAndreas commented on #28
Though, on second thought, you are right, overriding `sort()` may just be easier for the developers, and will give them more control over what they want to do.

[2012-09-20 19:15] Dovyski commented on #28
Yes :) I've just assigned this issue to myself. If any of you already have a fix, please let me know and I will reassign the issue.

[2012-09-20 19:27] Dovyski commented on #30
I think the only wrong behavior here is `FlxGroup#revive()` which revives the group object itself only. In order to ensure a consistent API, I suggest both methods, `kill()` and `revive()`, should operate on all members instead of the group object alone.

What do you think?

[2012-09-20 19:35] Dovyski commented on #36
If think **KWarp** has a point, but in my opinion the performance hit of this proposed fix is too big compared to the (small) benefits. Flixel's current approach may not be perfect, but it is definitely faster.

I vote to mark this issue as **won't fix**.

[2012-09-20 20:05] moly commented on #66
fixed in 15dad8b

[2012-09-20 20:05] #66 closed, assigned to IQAndreas

[2012-09-20 20:07] moly commented on #42
fixed in c71377b

[2012-09-20 20:07] #42 closed, assigned to IQAndreas

[2012-09-20 20:10] moly commented on #36
I agree, the suggested fix is too slow and I can't see any other way around it.

[2012-09-20 20:11] moly commented on #19
fixed in 15dad8b

[2012-09-20 20:11] #19 closed, assigned to IQAndreas

[2012-09-20 21:35] IQAndreas commented on #30
I agree. `revive()` and `kill()` should go hand in hand, performing exactly opposite functions. At the moment, `FlxGroup` doesn't even include an override for the `revive()` function, so I'm assuming it was just an oversight on Adam's part.

There may be a case when a developer wants to revive a `FlxGroup` without reviving **all** the members (maybe just a specific number of them), but as this is

[2012-09-21 00:13] Dovyski commented on #30
I don't know if we tag it as an enhancement or as a bug. Since it is already working and I don't believe it is causing much trouble right now, maybe we could move this issue to the "Future updates" milestone.

[2012-09-21 14:52] IQAndreas commented on #30
I'd call it a bug since it goes against "expected" behavior.

It was such a quick fix, I thought I might as well add it rather than push it forward. It's so minor that it shouldn't break anyone's existing code.

[2012-09-21 19:27] IQAndreas commented on #4
Fixed by commit 6486760ae947c1378c07ffce7d0c88f5a9940a31

[2012-09-21 19:27] #4 closed, assigned to Dovyski

[2012-09-21 19:31] Dovyski commented on #30
It's a bug indeed. I didn't know how much we should change the code to implement it, but as you said, it's a quick fix. Nice you fixed it for the current release :)

[2012-09-21 19:33] Dovyski commented on #36
Do you agree with us, @IQAndreas ? If so, we can close this issue and mark is as "won't fix".

[2012-09-22 16:29] IQAndreas commented on #36
Actually, I'm glad you asked. I really like this idea, but as you say, it could take a performance hit.

I have been waiting to run an actual performance comparison when I get some time (hopefully tonight or tomorrow). If it's alright with you guys, could we keep this issue open a bit longer?

[2012-09-22 22:01] Dovyski commented on #36
Sure! We can keep it open as long as you need to test things out. Let's wait for your numbers.

[2012-09-23 11:05] IQAndreas opened #111 "Remove various FDT/FlashBuilder warnings"
_I got 99 warnings, but "Invalid switch" ain't one of them._

No, actually, there are 93 warnings, which include:
- Could not resolve variable (may be a dynamic member) <- Not sure how to solve this one without loosing performance
- Found &quot;&quot;s&quot;&quot; but newline or semicolon was expected
- Local variable is never used
- The import is not used

As a second-to-last task before the rele

[2012-09-23 11:08] IQAndreas commented on #22
I would like this task to be the **final** issue resolved in this release.

If it is done before all v2.56 pull requests are closed, it may make some pull requests not merge properly.

[2012-09-23 11:45] IQAndreas opened #112 "Move static constants on path following from `FlxObject` to `FlxPath`"
Right now, the static constants are located in `FlxObjects`, so defining them looks like this:

[code]

I feel all those static constants should be moved to FlxPath, so you get this:

[code]

[2012-09-23 12:18] IQAndreas opened #113 "Give `FlxSound` public properties `position` and `length`"
`FlxSound` is missing any way of telling how far into a song or sound effect you currently are.

Since it adds properties, this should be reserved for a future release.

[2012-09-23 19:16] #59 closed, assigned to moly

[2012-09-23 19:44] moly commented on #15
There should be a more descriptive error message if the user passes in an invalid class. It might also be better to have the function return the default graphic rather than throwing an exception. I'm thinking something like:

[code]

[2012-09-23 20:50] IQAndreas commented on #15
Good idea!

Of course, with the old code, you could pass in any class as long as it has a `bitmapData` property. It didn't have to be a `Bitmap`. There could be cases where this could come in handy, such as if the `BitmapData` is generated rather than loaded through a Loader.

Though, in such a case, it may be better adding another method named `addBitmapData` where you can explicitly pass in the

[2012-09-26 17:46] Dovyski commented on #22
I agree, it should be our last task.

[2012-09-26 18:09] Dovyski commented on #15
I liked the warning message @moly  suggested. About the the `bitmapData` property @IQAndreas said, I agree it might be better idea to create a method named `addBitmapData()` to explicity pass in the `BitmapData` rather than a class.

[2012-09-26 20:25] Dovyski commented on #28
I think I've found a bug related to `Array.sortOn()`. I replaced Flixel `_sortHandler()` with the built-in `Array.sortOn()` method as we discussed, but it still crashes:

[code]

This result does not comply with Flash docs:

Any thoughts?

[2012-10-01 04:54] IQAndreas commented on #28
That's odd, I'm getting the same results. I wonder if it's a flaw in the documentation or in the Array.

Out of curiosity, I did some more testing and posted the results in a thread (was too lazy to write up an entire blog post on the matter)
http://www.kirupa.com/forum/showthread.php?374924-Array-sortOn()-does-not-work-as-the-documentation-says-it-should&p=2646165#post2646165

I guess we will hav

[2012-10-01 13:21] Dovyski commented on #28
I saw your tests and `sortOn()` looks really odd indeed. I will continue to use the custom sorting function and handle any missing sort property according to the `sortOn()` docs (if `Array` is not compliant with it, that's Adobe's fault :)

[2012-10-01 21:06] IQAndreas commented on #2
If I may be selfish, I already have [a branch with these features in it](https://github.com/IQAndreas/flixel/tree/dev_keyboardAdditions), and also solves the aforementioned problem with "unknown" keys being pressed.
https://github.com/FlixelCommunity/flixel/issues/17

I would like to use my branch rather than the fix suggested by SestrenExsis.

[2012-10-02 10:43] Dovyski commented on #2
I think your branch is more robust indeed.

[2012-10-02 17:56] IQAndreas commented on #63
Resolved by commit a558c44bd13f494a5f0b2da40e86bc3429e51b73

[2012-10-02 17:56] #63 closed, assigned to IQAndreas

[2012-10-02 17:57] IQAndreas commented on #64
Resolved by commit a558c44bd13f494a5f0b2da40e86bc3429e51b73

[2012-10-02 17:57] #64 closed, assigned to IQAndreas

[2012-10-02 18:01] IQAndreas commented on #24
I had an idea (that I will likely forget later unless I write it down here).

It would be helpful keeping track of the number of active sounds and the number of sounds created (in the format `available / total`.

[2012-10-02 18:25] Dovyski commented on #24
That's cool. Maybe we could extend that to show in the same fashion the number of Bitmaps created.

[2012-10-04 22:25] IQAndreas commented on #36
I created and ran the speed tests:
https://github.com/FlixelCommunity/FlixelSandbox

I have been trying to find a good wording to summarize the results, but I'm tired and the words aren't coming out as well. In a nutshell, I had to crank it up quite high to get a noticeable difference (I was attempting to get a good "percentage" estimate).

Adam's version is always faster by a few milliseconds; Th

[2012-10-07 03:02] Dovyski commented on #36
That's quite a surprise. I was expecting a huge performance hit, but your numbers seem to disagree :)

Based on your results, I've been thinking about this issue. Excluding any performance problem, what is the real benefit for "unified" pre/post updates? The issue author said if this approach is not used, he faced "off-by-one-frame" problems. How can it be possible?

I see no problem changing the

[2012-10-07 04:31] Dovyski commented on #28
I've just sent a pull request that fixes this issue. After some thought, I decided to make the sorting method silent (it does not produce any log when the sorting property is missing).

I thought it could generate too many log entries if the sorting property was missing. All objects with missing properties are placed at the end of the list (no particular order among them).

[2012-10-11 17:28] Dovyski commented on #62
I could not reproduce this. As far as I tested, the default camera _do_ starts at (0, 0). This issue might be related to an old version of Flixel.

If none of you can reproduce it either, then I will close it.

[2012-10-11 17:33] Dovyski commented on #52
No, I can't either.

[2012-10-11 17:38] #52 closed, assigned to nobody

[2012-10-11 17:45] Dovyski commented on #51
That's true. It's a waste of resources and should be fixed, but I see it more as an improvement than a bug for the current release. I think we should delay it for "Future updates" and tag as "improvement".

What do you think?

[2012-10-11 20:13] Dovyski commented on #49
I could not reproduce. I've used `setOriginToCorner()`, custom origin values (including negative ones), angle and none of them was able to break the scaling process.

[2012-10-13 13:07] IQAndreas commented on #49
Do you want to mention it in the original issue? Perhaps xraven has email notifications turned on, and if he still remembers the problem or has a test project handy, we can determine whether there is a problem, or if it's due to user error.

He could also have mistakenly set the scaling to an "odd" value such as `NaN` by mistake.

[2012-10-13 13:09] IQAndreas commented on #51
I agree, I have marked the issue as "enhancement" and pushed the milestone forward to the next release.

[2012-10-15 02:49] Dovyski commented on #51
Great, thanks! Let's work on that in the future.

[2012-10-15 02:54] Dovyski commented on #49
That's a good idea! I think if I just mention @xraven13 here he should receive an e-mail. Just to make sure, I will mention my findings in the original issue.

[2012-10-15 08:29] xraven13 commented on #49
Hey ! Here I am ! :)  Sorry, I can't find this anymore, I have lot of projects so who knows  where was this. But if it doesn't work for you then I probably made mistake somewhere, maybe with NaN as IQAndreas mentioned. If I run into this problem again, I will let you know.  Anyway, sorry for not double checking it. Cheers ! :)

[2012-10-15 18:00] Dovyski commented on #49
Hi there and thanks for passing by @xraven13 ! About your reply, ok then. Feel invited to open a new issue in the future if you face this problem again :) Cheers!

[2012-10-16 13:44] Dovyski commented on #33
Closed by 656325c9e9e9eb829f13fa979c6efde3921f1e37.

[2012-10-16 13:44] #33 closed, assigned to moly

[2012-10-22 18:50] #62 closed, assigned to Dovyski

[2012-10-22 18:50] #49 closed, assigned to Dovyski

[2012-10-22 18:54] Dovyski commented on #93
I've just found this [blog post](http://www.funstormgames.com/blog/2011/10/flixel-fullscreen-mode-and-resizeable-windows/) about Flixel fullscreen mode. It might be useful when working on this issue.

[2012-10-28 00:20] IQAndreas commented on #6
Resolved by commit 6cf6211059831bf662e7531844729624840bd5bc

[2012-10-28 00:20] #6 closed, assigned to moly

[2012-10-28 00:21] IQAndreas commented on #47
Resolved by commit 6cf6211059831bf662e7531844729624840bd5bc

[2012-10-28 00:21] #47 closed, assigned to nobody

[2012-10-28 13:05] IQAndreas commented on #93
That blog post's method assumes that all objects on the stage are re-positioned whenever the game changes dimensions.

Should we go so far as to add a Flixel equivalent of AS3's `scaleMode`?

If so, I think it should default to just zooming everything (keeping the same aspect ratio) and "clipping" all objects outside of the visible camera area. That will ensure that if your game is 400x600, even i

[2012-11-01 05:08] wgr opened #120 "Fix for issue 63 causes problems with looping sounds"
I ran into flixel issue #160 ( https://github.com/AdamAtomic/flixel/issues/160 ) and decided to give your updated FlxSound.as ( https://github.com/FlixelCommunity/flixel/issues/63 ) a go. While it fixed that problem, unfortunately it caused a new one.

The problem: play a looping sound, then pause it, then resume it. When the looping sound reaches the end of it's loop, it will now start playing ag

[2012-11-04 23:53] Dovyski commented on #120
Thanks for the report, @wgr , we will analyze it.

@IQAndreas I will update the FlixelSandbox project so we can test it easily.

[2012-11-05 00:10] Dovyski commented on #93
I noticed that too. About the Flixel `scaleMode`, I think we will end up implementing that in the future. I like your suggestion of implementing the zooming and clipping now and leave all other cases (and possible features) to the future.

The zooming to fit fullscreen state is connected to mobile development using Flixel. Right now, you must use Flash `scaleMode` to work-around resolution problem

[2012-11-05 14:01] moly commented on #1
Fixed by: https://github.com/FlixelCommunity/flixel/issues/118

[2012-11-05 14:01] #1 closed, assigned to nobody

[2012-11-05 14:41] moly commented on #93
There's a port of flixel to a language called Monkey. The author has implemented something similar to `scaleMode` for it and you can see a demo here: http://lab.devolonter.ru/libs/monkey-flixel/resolutionpolicy/html5.html

It might be worth looking through his code and seeing if it's worth copying any of his ideas: https://github.com/devolonter/flixel-monkey/blob/master/flxg.monkey#L810

[2012-11-05 14:48] moly commented on #13
I couldn't reproduce this by following the users steps. Has anyone else tried yet?

[2012-11-08 17:27] Dovyski commented on #13
Yes, I tried and I could reproduce the problem. You have to reproduce the exactly same scenario described by the author.

I've spent some hours trying to narrow down the problem but had no success. It seems to be some really obscure behavior...

[2012-11-10 13:06] IQAndreas commented on #120
I have confirmed this. Thanks for pointing it out.

That's a rather odd default behavior of AS3's sound class, but the fix is easy. I'll go ahead and include the change in the currently open pull request for FlxSound to avoid merge issues.

[2012-11-11 10:16] wgr commented on #120
Thanks, I tried your fix in my project and it appears to work well.

[2012-11-13 12:02] WingEraser opened #121 "flixel' plugin system improvement"
I’ve been looking at the way how flixel manages the plugin system. There are two things I don’t feel right about it.

1.	TimerManager and DebugPathDisplay plugins are added during FlxG::init(). Shouldn’t plugins be added by the user itself? It’s just a waste to call update for plugins if you don’t even use it.
2.	FlxGame::switchState(), clears the TimerManager. It should be done generally by calli

[2012-11-13 12:13] WingEraser opened #122 "FlxPath ignoreDrawDebug doesn't work"
I’ve use the `PathFindingDemo` to produce this bug. First I’ve remove `PlayState::draw()` to use the `DebugPathDisplay` on the “correct way”.

In the `PlayState::create()` I added this:

[code]

It should automatically added to the `DebugPathDisplay` when you create a new `FlxPath`.

The debug path line still shows. The reason is a new `FlxPath` is created to show the line which doesn’t `ignoreDra

[2012-11-13 18:38] moly commented on #122
I don't think this is a bug, it's how I would expect flixel to work. If you don't want the path to show up while debugging, set `ignoreDrawDebug` when you create it:

[code]

[2012-11-18 18:08] Dovyski commented on #88
We still have some bugs to fix, but the list is getting smaller, so I think it's time to start working on this task. A page for FlixelCommunity is a great step further to organize and promote the project.

Does anyone of you guys have special interest on taking the lead on this one? If you don't, I can start working on something.

[2012-11-19 00:44] moly commented on #88
I have no experience creating webpages, so feel free to start this yourself.

[2012-11-22 23:08] wgr opened #123 "Adding FlxParticles to FlxEmitter results in odd behaviour"
I came across what I'm pretty certain is a bug in flixel while trying to help someone today. However I have been unable to track down the exact cause, and I haven't seen it reported anywhere else. I am reporting it here in case you guys are interested in fixing it.

Since FlxEmitter extends FlxGroup, it should be possible to add FlxParticles to it. Flash game dojo confirms this should work in theo

[2012-11-22 23:28] moly commented on #123
You need to set the particle's `exist` to false before you add them, otherwise the emitter wont recycle them. This works for me:

[code]

[2012-11-23 13:33] wgr commented on #123
Thanks, I could swear I tried that but I must have done something wrong cause it works now.

So I guess it's just the Flash Game Dojo documentation that needs updating.

1 more thing in case anybody else ever comes across this: you also need to set emitter.maxSize = particles, otherwise if the default size is less than the number of particles you are adding it won't be able to recycle them and you

[2012-11-23 13:33] #123 closed, assigned to nobody

[2012-12-14 15:32] IQAndreas commented on #88
I believe GitHub pages supports [markdown syntax](http://github.github.com/github-flavored-markdown/) (the same as is used in GitHub comments). Otherwise, Jekyll is very easy to set up and use. I think a simple default template should suffice for now.

[2012-12-14 15:42] IQAndreas commented on #36
I don't see any reason why they **wouldn't** be unified; it seems more logical that they should be.

As for some real-life use cases, perhaps children need to run a check (inside of `preUpdate`) to see if they will still be alive or active for some action in it's parent's `update` function.

Also, if a child is killed inside of its own `preUpdate`, with the suggested code, it's `update` function i

[2012-12-20 01:38] IQAndreas commented on #13
@Dovyski If you still have it, could you throw up the sample code for this issue in the FlixelSandbox?

[2012-12-20 02:01] IQAndreas commented on #15
@Dovyski I noticed you were assigned to this issue. Do you already have the code ready for this fix, or shall I write some up and add the pull request?

I think we should separate off adding the error message in this release, and adding the `addBitmapData()` function to the next release.

[2012-12-20 02:53] IQAndreas commented on #108
Have you played with truefire's code to see if it works as expected? Or shall I have a go at it?

[2012-12-20 09:58] Dovyski commented on #88
Yeah, I agree. I will use a default page or a very simple Bootstrap one. No sub-pages or things like that, just some info and a download button.

[2012-12-20 10:02] yadurajiv commented on #88
:+1:

[2012-12-20 10:06] Dovyski commented on #36
Actually I don't agree 100% :)

I see your point, however I imagine the pre/pos update methods more like an addition to the `update()` method. It's something like _"Hey, I will run update() on you, get ready"_ or _"Ok, I just updated you, anything else?"_.

The way you described the `preUpdate()` and `postUpdate()` looks like we are calling `update()` 3 times, but at different moments.

[2012-12-20 10:52] Dovyski commented on #13
Sure! I've just pushed the testing code to FlixelSandbox (it is called `TestFlxSpriteAlpha`). The class `SpriteTestBug` is the buggy one.

[2012-12-20 10:56] Dovyski commented on #15
I am sorry, I assigned this issue to me but stopped working when I noticed there would be some conflicts during the merge. I did nothing so far, @IQAndreas , so feel free to implement what was discussed. Bare in mind there are some pending pull requests that affect that very area of the code.

I agree with you about the error message and the new method. Leave `addBitmapData()` for the next release

[2012-12-20 11:23] Dovyski commented on #108
Yes, I have. It does not work for justified texts.

I've pushed to FlixelSandbox a test for `FlxText`. I've made lots of crazy tests using Flash anti-alias texts, but there was no way to fix the blurry text.

truefire's code seems to be a good solution, but it needs some love to make justified texts. Should I try to implement some custom justification code for that? I can create a pull request wit

[2012-12-21 14:14] Gama11 opened #124 "Add 'x', 'y' and 'alpha' properties to FlxGroup"
For some reason, `x` and `y` properties were removed in the latest flixel versions, which is really incovenient. An `alpha` property would be handy as well, so that `FlxGroup` basically can be treated like a `FlxSprite`. This can be achieved really easily by adding a few getter and setter functions at the end of FlxGroup:

[code]

[2012-12-21 15:47] SeiferTim commented on #43
So, the collide callback is returning the 2 objects that collided, in this case the Bullet that collided and the Tilemap Object itself.

So if you have your Tilemap at 0,0, then cmp.x will = 0 and cmp.y will = 0 in the callback...
If you want to know where INSIDE the tilemap that you collided, I think it's just a matter of some calculation... I don't think this is a bug that needs to be fixed, but

[2012-12-21 17:02] Gama11 commented on #89
Might also simply have a second, optional parameter in FlxG.log specifying the color along with a warn()-function.

[2012-12-21 19:17] Gama11 opened #125 "Add a 'bounce' function to FlxSprite"
Effects like bouncing / knockback are needed to make a game more juicy. I've modified my FlxSprite.as by adding these two nifty little functions that offsets a sprite into a given x or y-direction for a very short amount of time:

[code]

The knockbackTimer also needs to be instantiated, which I did in the constructor.

[code]

[2012-12-21 19:47] SeiferTim commented on #125
I don't know that you would want this inside the core FlxSprite class...

[2012-12-21 19:56] Gama11 commented on #125
So... Are you implying it's a bad idea in general, or just something that should be added elsewhere?

It just seemed like the most convenient place to me, as you can just call sprite.bounce() that way. I guess you could also have a bounce-function in FlxG that works with any FlxSprite / FlxGroup given to it via parameter, as there are other effects like FlxG.shake, FlxG.fade or FlxG.flash, but the

[2012-12-21 20:00] SeiferTim commented on #125
I don't think it's a bad idea, just that FlxSprites are used for a ton of other things that probably wouldn't need any kind of 'bouncing' added to them... I could see another class that extends FlxSprite that might want to have that included, or even better maybe a seperate class for special effects that you could add any FlxObject to... not sure how it could be implemented like that, but I don't

[2012-12-21 20:11] moly commented on #124
Can you not just use `setAll` for this?

[code]

[2012-12-21 20:16] IQAndreas commented on #124
Of course, as for the `x` and `y` properties, if any of the "children" in the `FlxGroup` are then set to an absolute value (rather than incremented) it will be "offset" from it's siblings.

Flash takes into account the location and alpha of all its parents when rendering, but this can take a heavy performance hit (since you need to iterate through every parent until you get to the top). The questi

[2012-12-21 20:31] IQAndreas commented on #125
I agree, this functionality would be great in plugin format, but doesn't belong right in the `FlxSprite`.

Since the code doesn't require any private properties on the `FlxSprite`, it should be able to adjust to become a plugin quite well.

If you want some "inspiration" on how to create a plugin for Flixel, I believe that [FlixelPowerTools](https://github.com/photonstorm/Flixel-Power-Tools) uses

[2012-12-21 20:37] Gama11 commented on #124
setAll is nice and everything, it'd work too, but what you can't do is stuff like

[code]

 I'm not sure about performance.. I'm using this and I haven't really noticed any performance hits. Either way, if an alpha property is in fact too performance-heavy, at least add `x` and `y` .

There definitely is a need for `x` and y properties in `FlxGroup`. Ppl in the forums are often asking how to creat

[2012-12-21 20:57] IQAndreas commented on #15
It seems that all pull requests that modify `FlxG` have been merged by now, so I'll go ahead and add a pull request for this one.

[2012-12-21 21:15] IQAndreas commented on #124
You are correct, this version isn't performance heavy at all.

However, it will give unexpected problems with the following code (sorry, I got carried away with the illustration):

[code]

Do you see where the bug creeps in?

This sort of problem doesn't happen with Flash display object; when an item is rendered, it adds together all of the `x` and `y` properties of its parent, and its parent's pa

[2012-12-21 22:03] IQAndreas opened #126 "Add `FlxG.addBitmapData()`"
Currently `FlxG` only contains the static function `addBitmap()`, which makes it difficult to include raw `BitmapData` (which may have been drawn procedurally, or loaded from a URL).

[2012-12-21 22:04] IQAndreas commented on #126
I'm assigning myself to this one as if I remember correctly, I already have the code for this in one of my old branches, but I'll wait for the next release before adding anything.

[2012-12-21 22:24] IQAndreas commented on #15
I made two additional tweaks in the pull requst:
- Added `getClassName` to make the log ouput clearer
- Passed along the "reverse" parameter to the "default image" sprite. I think it might make a difference?

[2012-12-21 22:31] Gama11 commented on #124
Yeah, I can see the problem. Your example seems a little .. unlikely, I guess, though. You'd be much more likely to set a velocity.x for the horses or maybe call `horse.x += 10;` - doing it like this by setting it to an absolute value seems like bad practice to me.
The benefits seem to overweigh the risk of getting a bug like this. Using a group'y x and y values is optional, anyway. And if you are

[2012-12-21 23:00] IQAndreas commented on #124
Yeah, you are right, but how about this example? Let's say you have "loading screen" with a character that walks from left to right.

[code]

If he is within a FlxGroup "progress bar" of sorts, and the progress bar is moved around across the screen, the character's location becomes "flawed".

You could change the code to increment the player's location, but it would make the code more complex (you

[2012-12-21 23:56] IQAndreas commented on #5
This bug is also mentioned in the following thread:
[Fix for jittery camera movement (Flixel 2.5)](http://forums.flixel.org/index.php/topic,4543.0.html)

It seems like Krix has been hard at work making additional changes than just the one fix listed in this issue's comments.
https://github.com/krix/CameraScrollFix

[2012-12-22 00:08] IQAndreas commented on #36
I see it more used the way you use the `priority` parameter in `addEventListener()`. 96% of the time, you want to only use `update()`. But now and then you want to do something before `update()`. You could write the code you want to run first before everything else inside of `update()`, but if any "siblings" are affected by this code, they won't be affected by the `preUpdate()`.

I'm afraid this i

[2012-12-22 00:10] IQAndreas commented on #36
I am a fool! I botched up a line with my copying and pasting:
https://github.com/FlixelCommunity/FlixelSandbox/blob/master/src/TestFlxGroupUpdate.as#L38

I'll fix it and give you the _actual_ speed difference later.

[2012-12-22 07:21] Gama11 commented on #124
Now, that's a good example right there. You're wrong about the complexity of the fix though, something like this would be enough:

[code]

So, essentially, you're doing the second approach logic manually here. It's obviously also limited to 1 deep nesting,  further nesting would increase the length of the line quite a bit. But no need to keep track of previous locations whatsoever. Also, the fact

[2012-12-27 11:02] Dovyski commented on #89
It's also a good idea :)

For the sake of simplicity isn't easier to add a second parameter to `FlxG.log` that tells the "type" of log?

[code]

[2012-12-27 11:04] Dovyski commented on #125
I agree with @SeiferTim  and @IQAndreas. A plugin is the perfect match for that. It can be a plugin with several other effects, not just bounce.

[2012-12-27 11:05] Dovyski commented on #126
Ok, no problem.

[2012-12-27 11:10] Dovyski commented on #15
The `getClassName()` will be really useful.

About the "reverse", I can't tell if that makes any difference. In the context of the fix, the default image is just a "placeholder", so it's not that important to reverse it or not.

[2012-12-27 11:12] Dovyski commented on #36
I hate when it happens :) Let's wait for your numbers then.

[2012-12-27 11:22] Gama11 commented on #89
Hm, yeah, that would be another option. Could have both options, since I think a `warn` and `error`-function would be good to differentiate them more clearly. Even if warn does nothing else but calling `FlxG.log` with certain paramters, for example:

[code]

In case log takes a second, color-paramter. The question is, is color the only thing where warn differs from log? Could also be bold... So lo

[2012-12-27 11:23] Dovyski commented on #124
I really like the idea, but add it to `FlxGroup` will makes things obscure and hard to predict. If `FlxGroup` has `x` and `y` properties, then when I add a new sprite to it, is the sprite's position updated? What if I want to change a group member position and keep all other members intact?

In my opinion the best approach is to create a new class (say `FlxContainer` like @IQAndreas read from my m

[2012-12-27 11:26] Gama11 commented on #124
Hm, yeah... Have you read my post? I admit it's a bit of a text wall. I don't see a way to make this work (nicely) unless you use two custom classes, one for `FlxSprite` and one for `FlxGroup`. Which doesn't seem all that convenient to use.

[2012-12-27 11:29] Gama11 commented on #125
Well, yeah, plugin sounds good, but there'd need to be (plenty of) other effects to make it wortwhile. Can't really think of similar effects right now.

[2012-12-27 11:32] Dovyski commented on #89
Yeah that's true. I would implement things like you described, a function to actually do the logging (e.g. `FlxG.doLog()`) and all other functions calling that one with appropriate parameters.

The only advantage I see creating `FlxG.warn()` and `FlxG.error()` is that is makes things easier to understand, because  `FlxG.log(.., TYPE)` is equally powerful and still easy to understand.

[2012-12-27 11:45] Dovyski commented on #124
Yes, I read :) I agree that creating `actualX` and all that stuff doesn't seem convenient.

The way Flixel is structured now, it's not easy to create something like `FlxContainer` and children with offset values. There is no such thing as relative position in Flixel, every object has an absolute position.

Right now the best we can do without re-writing lots of methods is _propagate_ values instea

[2012-12-27 11:54] Dovyski commented on #125
Take a look at this (huge) list: http://daneden.me/animate. Lots of nice effects. It would be great to have some of them in a plugin.

[2012-12-27 12:01] Gama11 commented on #89
Though that'd not be as powerful as something like

[code]

which would be great to have IMO. But yeah, my point was mostly that it's easier to understand that way.

[2012-12-27 12:03] Gama11 commented on #125
Oh, cool list. Most of them can be achieved easily with Tweening libraries like TweenLite though, which I use in conjunction with Flixel. Actually, I recently had a look at haxeflixel, and they actually have tweening there. I think it'd be awesome to port that to AS3 and integrate it!

Edit: I just created an [issue for adding Tweening to flixel](https://github.com/FlixelCommunity/flixel/issues/12

[2012-12-27 12:12] Gama11 opened #129 "Add Tweening"
I use flixel in conjunction with TweenLite (which is awesome). I think it's a must-have feature for coding games, saves you tons of time trying to hard-code motion effects in update()-functions which still look relatively shitty. You might laugh at that if you're an experienced coder, but I basically started coding with flixel and didn't know about tweening libraries, so that's what I did.

[Haxef

[2012-12-27 15:56] Gama11 opened #130 "Make _cursorContainer-Sprite in Mouse.as public"
I've always been annoyed by the fact that the mouse doesn't simply extend `FlxSprite`, so it has all those properties like alpha, angle, visible, etc etc... You also can't simply create a sprite and tell the mouse class to use that sprite, all you have is `FlxG.mouse.show`, here an image file is needed.

As  I needed to change the cursor's alpha value, I had a look at `Mouse.as`, and it turns out

[2012-12-27 22:28] Gama11 opened #131 "Add a 'seperation' property to FlxSprite"
There are cases where you're doing hittests with a group of sprites and want some of them to collide, but others not. It's best for performance to do hittests in large groups, at least that's what I've been told, but achieving that with these conditions seems difficult. Setting `solid = false` for certain sprites would cause them not to `overlap` at all - which is why the description of the `solid

[2012-12-28 09:49] Gama11 opened #132 "Split volume control into "music" and "sfx""
Games usually have a seperate mute button for sfx and music, some even precise volume control for both. As flixel currently handles things, you can only mute / change the volume of all sounds, or none at all. If you want to seperate music and sfx, you have to come up with a solution of your own - I think flixel should be capable of handling that nicely from the get-go.

The changes this would requ

[2012-12-28 10:17] Dovyski commented on #89
Oh, yeah, not as powerful as that `log()` on steroids :)

[2012-12-28 12:00] Dovyski commented on #5
I've noticed Krix work. I analyzed his commit log and there seems to be a huge change in `FlxSprite` regarding `framePixels` (https://github.com/krix/CameraScrollFix/commit/5af35473b652fcc69acecc7d31ee2e86f536513e). The property is changed from `BitmapData` to `Bitmap`. It will break lots of codes out there, I imagine.

It would be great if we could add the camera fix without touching too many oth

[2012-12-28 15:53] Gama11 commented on #5
Apparently, replacing those two lines with:

[code]

like mentioned in the thread seems to fix all the issues except for the `STYLE_LOCKON` and `SHAKE_BOTH_AXES` camera modes - I just tested that, as funnily enough, I ran into the exact same problem a few hours ago. So, I guess before not fixing anything at all, this fix should be made to make everything but two modes work smoothly.

[2012-12-28 21:26] IQAndreas commented on #124
A simple `globalToLocal()` type function would do the trick, then the children wouldn't need to subclass anything particular, and could stay as a `FlxSprite`. But any `parent` property would need to be tracked in a different way.

[2012-12-28 21:45] IQAndreas commented on #5
I noticed the same, and I have been meaning to send an email to him.

The thing is, in every instance where he accesses the `framePixels` object, he uses `framePixels.bitmapData`. I really don't understand why he made the change, as it is not at all necessary, and doesn't have anything to do with the actual "camera scroll fix". Unless Krix had some other reason for doing so, those changes should b

[2012-12-28 23:43] krix commented on #5
Hi there!

As far as I remember, I made the change due to a memory leak issue with the draw() function in flash > 10.
There were no side effects in any of my projects, but I understand if you don't want to adobt this fix.

However, if you just want to fix the jittering, you should do the following changes:
https://github.com/krix/flixel/commit/67897031bd78d4f55fda8057bc4fc49e915c20eb
https://githu

[2012-12-29 00:17] IQAndreas commented on #5
Ah, magnificent! :) Thanks for the quick clarification, Dirk.

In case anyone was looking for more information on the bug:
[Drawing API Memory-Leak in Flash 10.1](http://blog.pixelpracht.net/?p=122)

The good news is, it seems [this issue was resolved July 2011](https://bugs.adobe.com/jira/browse/FP-4812). It doesn't say which version of Flash Player it was fixed in, but I think it's safe to say,

[2012-12-30 08:17] IQAndreas commented on #36
Fixed the typo, and re-ran the test:

[code]

So there is a 20% difference in speed. However, considering that it's looping through 250,000 objects, I still think the performance difference is negligible in realistically sized projects.

[2012-12-30 16:19] Gama11 opened #133 "Make 'Width' paramter of FlxText optional"
I always find it annoying that I have to tell `FlxText` how wide the textfield should be - most of the time, the texts I use are single-lined texts anyway, so I just want the Textfield to be big enough to display all of the text in one line. To avoid fiddling around with the `Width` paramter, often times I just insert something like `FlxG.width` there out of laziness.

It shouldn't be too hard to

[2012-12-31 21:51] IQAndreas commented on #5
@krix Is this commit part of this bug, or is it referring to a different "jittering"? https://github.com/krix/flixel/commit/c5ca1cac1e2e531725abe7c9de46fb13be3c45a7

_EDIT:_ Never mind, I see the change was undone. https://github.com/krix/flixel/commit/b34c606e016a99ca98bf96717a5bf1dda81fbf19

[2013-01-01 01:03] IQAndreas commented on #13
Still trying to find the cause of this bug, but I removed some unnecessary code from the test (and also updated the code so we don't have to modify `Main.as` in order to change tests) and came up with two results:
- [Resetting the test](https://github.com/FlixelCommunity/FlixelSandbox/blob/master/src/testFlxSpriteAlpha/SpriteTest.as#L31) does not reset the second sprite's "displayed" alpha. This i

[2013-01-01 02:14] IQAndreas commented on #13
Found it. :)

In case anyone is curious, it all came from this little function in `FlxSprite` (unnecessary code removed):

[code]

In our example, the sprite was sized 50x50, with the "expected" sprite being on frame 0, and the "bugged" sprite on frame 1. Let's also assume that the alpha is **always** set to `0.8`.
- `_curIndex` is the current frame, with the "expected" sprite being on frame 0, an

[2013-01-01 02:57] IQAndreas commented on #13
As for a solution, all this can be avoided by preventing the user from ever setting the current frame number above the maximum number of frames, either directly (through the `frame` property) or by playing an animation where the frame number is too high (haven't checked if there is any code that prevents the second action).

I'm taking a break on this issue for a while, so if anyone wants to take

[2013-01-02 13:53] IQAndreas commented on #108
That would be great. If you submit what you have so far, we can just tack on the justification code later.

[2013-01-03 01:03] Dovyski commented on #36
It might be negligible, but it is there :)

I still think `preUpdate()` and `postUpdate()` should be used the way they are now. It's not difficult to achieve the behavior you described, one just need to change `FlxGroup` update methods.

Another idea is to create some sort of config property that tells Flixel how to behave when updating entities. Something like:

[code]

[2013-01-03 18:11] Dovyski commented on #108
I've just sent a [pull request](https://github.com/FlixelCommunity/flixel/pull/136) with my progress so far. As far as I can tell only the justification alignment is not working.

[2013-01-03 18:29] Dovyski commented on #50
Fixed by commit 7308b30f8455ee6516473ccd584cbef3d035f56c.

[2013-01-03 18:29] #50 closed, assigned to Dovyski

[2013-01-03 18:34] Dovyski commented on #28
Fixed by commit 3a666c6d163348d01830d4921f1eb256a2de04b3

[2013-01-03 18:34] #28 closed, assigned to Dovyski

[2013-01-03 20:12] SeiferTim opened #137 "Suggestion: FlxInputText"
a: I'm not sure where suggestions should go...
b: This is probably for a release after the bug-fix release

I've been using the FlxInputText Class for awhile and it really does pretty much as advertised and I haven't had any problems with it. Should think about including it in the core code...

I got my version from here: http://forums.flixel.org/index.php/topic,272.0.html and I think there have b

[2013-01-03 20:45] moly commented on #137
This is a good idea, but the class should take this approach: http://forums.flixel.org/index.php/topic,272.msg35492.html#msg35492

The one Tim linked to draws the text by adding it directly to the stage, which causes incompatibility with some parts of flixel.

[2013-01-03 23:19] Dovyski commented on #137
I like the idea too.

@moly Could you tell some of the incompatibility the stage approach causes?

[2013-01-04 02:26] moly commented on #137
The FlxText will always appear on top of everything else. I think that it also doesn't work with the cameras at all.

[2013-01-04 07:42] IQAndreas commented on #89
The thing I really like about `trace()` is that you can pass any number of parameters and it will concatenate them with a space.

This means you can do things like this:

[code]

Which would normally require several `+ " " +` between the values.

So, [whenever I write a log function](https://gist.github.com/4450713), I always allow any number of arguments. I would like to keep that functionality.

[2013-01-04 08:37] IQAndreas commented on #89
Perhaps we could have an `advancedLog()` function?

[code]

And the "simpler" functions (with any number of arguments) are simply "frontends" for this advanced log function:

[code]

As for the difference between warning and error, I think they should all be classified "priorities". Then we can add a system that lets you "listen" for errors, passing a callback function, and only running that funct

[2013-01-04 09:14] Gama11 commented on #89
I've personally never used `trace()` in that way, but I definitely agree that the multi-parameter-solution seems nicer that the use of tons and tons of `+`.

When I just read about that suggestion, I thought it wouldn't really work very well in conjunction with all the additional paramters I suggested, but `advancedLog()` seems like a great solution.

Having the ability so set a callback for diffe

[2013-01-04 10:01] Gama11 commented on #89
Basically, with all these new functions, the use of logging is encouraged a lot:

[code]

However, I never really liked the Flixel 2.5+ console. While the addition of `FlxG.watch`, the `visualDebug`-button and the additional `stats` are great, the 'watch' and the `log` window are both extremely small by default. I prefered older flixel versions in that regard, where the `log` textfield basically c

[2013-01-04 10:13] Gama11 commented on #137
Yeah, it's a great idea. I've missed textfields for flixel in the past and simply used a normal `TextField`, but it doesn't work too well in conjunction with flixel. The flixel cursor is under the textfield and I always have to remove it manually from `FlxG.stage` when switching states.

According to wg/funstorm in that thread @moly posted, that class seems very incomplete though. It's probably th

[2013-01-04 10:33] Dovyski commented on #137
Ok, I got the problems. Thanks, @moly  and @Gama11

I read the post @moly pointed out and also noticed the comments that say the class seems very incomplete. We can work on improving that class or create our own version.

[2013-01-06 11:41] Gama11 opened #138 "Crash at FlxSound line 172 when playing sounds"
Got a copy of the current build and tried to use it in a project. However, whenever playing a sound, there's a null error crash at line 172 in the `destroy`-function of `FlxSound`:

[code]

Played around with it a bit. It doesn't matter whether the sound is played via `FlxG.play` or if you instantiate a new `FlxSound` without even playing it, it'll always crash. It even crashes when changing the g

[2013-01-06 13:13] IQAndreas commented on #138
Actually, in that case, I believe `_sound` is `null` by the time `destroy()` is called, resulting in the error. Though, looking through the code, that issue no longer occurs as of one of my pull requests that modifies FlxSound.

Give this SWC a try and let me know if the error still occurs: https://github.com/FlixelCommunity/flixel-release/tree/bin-dev

And, for reference, removing an event listen

[2013-01-06 13:44] Gama11 commented on #137
I've actually started working on improving the latest version of `FlxInputText` by Mr_Walrus in that thread. It actually seems quite solid, even though there are quite a few missing features and bug like wg/funstorm pointed out. I'll push it to a repo and create a little demo swf once I've fixed and added the most of the essential things. :)

[2013-01-06 19:52] Gama11 commented on #137
Made quite a bit of progress and pushed it to a repo of mine called [FlxInputText](https://github.com/Gama11/FlxInputText) with a [demo showing off the features of the class](https://dl.dropbox.com/u/18627942/FlxInputTextDemo.swf). (Not sure how to convince GitHub not to ignore the /bin folder :/)

I've made an inital commit with the original class by Mr_Walrus, so you can actually nicely see the

[2013-01-06 21:12] Gama11 commented on #138
Seems like you're right. I just confirmed that with `FlxG.log(_sound)`. A simple `null` check would be enough to prevent the error.

Nope, didn't occur when compiling a swf from that swc. Why is it only fixed there and not for the main repo? Has that pull request you're talking about not been merged yet?

That's good to know, thanks. I swear I tried adding a simple `if (_sound != null)` earlier, b

[2013-01-07 07:08] IQAndreas commented on #138
Exactly, it's still open (see https://github.com/FlixelCommunity/flixel/pull/114).

But thanks for pointing this out. In the current pull request, I realized that I forgot to destroy the Sound in the `destroy()` function, so I will have to add that.

[2013-01-07 10:48] Dovyski commented on #137
That's amazing, @Gama11 ! :) Thank you!

Your version of `FlxInputText` looks pretty solid. I think a few adjustments and it would be a great addition to Flixel. I noticed another feature that is missing:
- Moving the caret does not allow you to navigate in the text. If the text is too big, there is no way to read the words outside the textfield area.

[2013-01-07 11:12] Dovyski commented on #89
I liked the idea of `advancedLog`, but I think the log callback should be added the way @Gama11 described: something like `FlxG.setLogcallback()` or `FlxG.addLogCallback()`. It is easier to understand. The addition of `advancedLog` and callbacks will allow developers to do some cool things like integrating Flixel with [Monsterdebugger](http://demonsterdebugger.com/).

Regaring Flixel console, I ne

[2013-01-07 11:15] Dovyski commented on #13
Nice catch! I can take a look at this issue and implement your solution, @IQAndreas. If you agree, just assign the issue to me and I will work on it as soon as I have some free time.

[2013-01-07 12:13] Gama11 commented on #89
Glad you agree with me there. Only showing the watch window if `FlxG.watch()` has been called sound like a good idea to me.
Another thing that might work is deactiving the window behaviour by default, but leaving the option to activate it via a Boolean like `FlxG.flexibleConsoleWindows` /  `FlxG.flexibleDebugWindows`.

Shall I create a new issue for these changes to the console, as it doesn't real

[2013-01-07 12:19] Gama11 commented on #137
@Dovyski Glad you like it! :)

is basically what I meant with:

I have to admit, I probably didn't express it in a very clear way. Either way, I'm not a hundred percent sure which textfield behaviour is preferable, there are two possibilities:
1. Text scrolls with the caret's index
2. Max amount of characters a textfield can hold is limited to its size - all text will always be shown. Could be don

[2013-01-07 12:35] Dovyski commented on #137
Oh, now I got it. Sorry for that!

Both solutions you provided for single-line textfields are good to me, but option 2 is very limited. I would go with option 1 (which is not that hard to implement).

About the ability to select text, I imagine it is a very tricky thing to implement. It would be great to have all those mouse/Ctrl+A/Ctrl+C/etc features, but if we consider Flixel a "retro" engine, t

[2013-01-07 12:37] Dovyski commented on #89
Yes, I think you should create another issue, otherwise we will generate too many off-topic discussions here.

[2013-01-07 15:51] Gama11 opened #139 "Improvement of the debugging screen"
I already mentioned this in #89, because the enhancement of `FlxG.log` encourages the use of the console / the debugging screen.

What I dislike about the console in Flixel 2.5+ is that the `log` window is extremely small and that the `log` and the `watch` windows use `FlxWindow`, which means they can be moved around and resized. However, this isn't really neccessary at all in my opinion, I myself

[2013-01-07 18:43] IQAndreas commented on #139
Just a side idea, rather than have the "log" and "watch" windows split space, how about doing it "tabbed" style, where buttons switch between the currently active output textbox?

[2013-01-07 18:47] Gama11 commented on #139
Hm.. interesting idea, but it seems like that's only beneficial for games with a really small resolution where not that much information can be shown, which is probably rare. Or if you're using `log` / `watch` a lot. Could be another debuggerLayout, `DEBUGGER_TABBED` perhaps?

What do you think about the initial suggestions though?

[2013-01-07 19:11] IQAndreas commented on #13
Sorry, I didn't realize it had gone an entire week and I still hadn't updated this issue.

Actually, there is no reason to read up on the details on why the bug occurs. As you correctly deduced in the FlixelSandbox, it happens because the current frame number is set above the maximum number of frames; that is all that needs to be fixed.

One "gotcha" to keep in mind, `_curFrame` is used only for a

[2013-01-08 10:26] IQAndreas opened #140 "Better flx.py with argparse"
@narlynephi has made some changes to `flx.py` (now named `generate-flixel-project.py`) that may be worth implementing.

https://github.com/narlynephi/flixel/commits/master

Does anyone want to take a look at the changes and see if they can be implemented?

[2013-01-10 23:25] narlynephi commented on #140
I think I've got some other changes that I've made to flx.py as well - I'll
make sure later tonight that they're all checked in in case you want to use
them-

--Nephi

On Tue, Jan 8, 2013 at 2:27 AM, Andreas Renberg notifications@github.comwrote:

[2013-01-11 17:13] IQAndreas commented on #15
Resolved by 58f1e1f57cb811f7679b1a7ea2560c1edab2096e

[2013-01-11 17:13] #15 closed, assigned to IQAndreas

[2013-01-11 18:16] moly commented on #25
Closed by: https://github.com/Dovyski/flixel/commit/6268549b84b6a92b2cb25e17d8d2fafe57fdc415

[2013-01-11 18:16] #25 closed, assigned to nobody

[2013-01-11 19:25] IQAndreas commented on #138
Resolved in 7e5f1e0504151e8e9b306a444c5eaa6e10817472

[2013-01-11 19:25] #138 closed, assigned to IQAndreas

[2013-01-11 19:26] IQAndreas commented on #120
Resolved in 7e5f1e0504151e8e9b306a444c5eaa6e10817472

[2013-01-11 19:26] #120 closed, assigned to IQAndreas

[2013-01-12 22:35] Gama11 opened #141 "Add more colors to FlxG"
There are a couple of public static constants storing color codes in `FlxG`. However, they're quite limited, there's only:
1. `RED`
2. `GREEN`
3. `BLUE`
4. `PINK`
5. `WHITE`
6. `BLACK`

They're actually pretty useful once you find out about them - which I didn't for quite some time, partly because `FlxG` is not the most intuitive place to find them. Something like `FlxColor` might be better suited

[2013-01-13 11:14] IQAndreas opened #142 "Organize `FlxG` and `FlxU` a tad better"
This would break much existing code, but I feel `FlxG` and `FlxU` are needlessly cluttered and could be split into smaller classes.

The full list of proposed changes can be found in the following forum thread:
http://forums.flixel.org/index.php/topic,5675

The actual changes can be found in the following branch:
https://github.com/IQAndreas-testprojects/flixel/commits/dev_organizing_flixel

I had

[2013-01-13 11:26] IQAndreas commented on #141
I agree, and had a [similar thought a while back](https://github.com/IQAndreas/flixel/commit/98ddd14717d973963562e75ce178e6b4bff8cb88). There are a few color functions in `FlxU` which in that case should also be moved to `FlxColor`.

I'm not sure where the line is between helpful and overkill. I, like you, would prefer a large set of colors, especially if they are all "out of the way", not clutter

[2013-01-13 11:32] Gama11 commented on #141
Yeah, I think it'd be great to have a large pool of colors, just not in `FlxG`, it's already pretty cluttered as it is. Right now, quite a few relatively essential colors are missing. Plus, there's another set of public static constants there, the debugger layouts.

Moving those functions from `FlxU` to `FlxColor` along with a set of color constants seems like a great idea - but I'm wondering, wou

[2013-01-13 11:42] Gama11 commented on #142
Sounds like a great idea to me, the 4 "sections" the functions should be split into in your opinion make a lot of sense, too!

 I'm thinking it should be a lot easier for newcomers to grasp what each of the classes actually does, while right now, it's more like pretty much everything is in `FlxG`.

One thing that's debateable though is the naming / the actual organization. For example, if `FlxMath

[2013-01-13 11:50] IQAndreas commented on #141
Since [PhotonStorm's version](https://github.com/photonstorm/Flixel-Power-Tools/blob/master/Test%20Suite/src/org/flixel/plugin/photonstorm/FlxColor.as) is in the package `org.flixel.plugin.photonstorm` it won't interfere, unless the user accidentally imports the wrong one of the two classes, or wishes to use both Flixel's and PhotonStorm's versions in the same class (in that case, they would need

[2013-01-13 11:53] Gama11 commented on #141
Well... I'm pretty sure there won't be a new relase. I think he said 1.9 was the final version. He's doesn't seem to be using flash anymore either.

Haha, yeah... Perhaps some of the more useful features could be integrated into this community build. There might be a few handy helper functions in his `FlxColor` that could be moved over to the new `FlxColor`.

[2013-01-13 12:07] IQAndreas commented on #142
Most of that logic was my attempt to make Flixel more modular. I'm still not a fan of how much of Flixel is static. It may be helpful for beginners, but just seems "dirty" to me.

The problem is, some of those classes need access to variables, such as the current `FlxGame` instance. That instance is always available in `FlxG`, but if the logic is moved to a separate class, that information is no l

[2013-01-14 16:27] moly commented on #142
I've had similar thoughts about making flixel more modular, and turning some of the default functionality into plugins. The problem I see is that a lot of the stuff (debugging, replays, etc) is tightly intertwined with FlxG/FlxGame and would take a lot of refactoring to fully extract out. You would also need to improve the plugin system a lot, adding the ability to intercept key presses amongst ot

[2013-01-14 23:29] Dovyski commented on #141
I like the idea of adding new colors too. The better place I can think of is a new class named `FlxColor`, like you guys suggested. `FlxG` is really cluttered and there is no point adding more to that already saturated class.

About Photonstorm Power Tools, I think we can get some cool ideas from it and merge them into our `FlxColor` class.

[2013-01-14 23:58] Dovyski commented on #142
I liked the structure you suggested, @IQAndreas . I would still polish some edges (such as using `FlxMath` instead of `FlxM`), but the overall idea is great.

I really like that organization, but let me share some of my experience with Flixel. When I started using it, it was simple to understand the meaning (and methods) of `FlxG`. While working, every time I typed `FlxG.` I learned something new

[2013-01-15 10:38] Dovyski commented on #121
I think lots of improvements in the future can be implemented as plugins. A new plugin system will keep Flixel core simple, new (and more complex) plugins could be created, attracting more developers to help improve Flixel without touching (or deeply understanding) its core.

I really like how Wordpress plugins work. They are build on top of a hook/filter system, so they are **really** plugins (ju

[2013-01-15 10:42] Dovyski commented on #142
There is an open [improvement request](https://github.com/FlixelCommunity/flixel/issues/121) regarding Flixel plugin system. I've added some ideas about a new plugin system there.

[2013-01-15 14:13] FlixelCommunityBot opened #144 "Reloading A FlxTilemap"
_Issue by **[msilver101](http://github.com/msilver101)** from 2012-10-27T22:34:49Z_
_Originally opened as https://github.com/AdamAtomic/flixel/issues/232_

---

There is a bug when you call loadMap twice on the same map. This could be useful in a lot of situations and its only a few lines to fix. I found the fix elsewhere on the forums here but thought I'd make an entry here.

You must add the fol

[2013-01-15 14:13] FlixelCommunityBot opened #145 "Animated Tilemap - FlxAnimatedTilemap.as"
_Issue by **[msilver101](http://github.com/msilver101)** from 2012-10-27T22:53:39Z_
_Originally opened as https://github.com/AdamAtomic/flixel/issues/233_

---

I've written a class that extends FlxTilemap. Its really useful if you have an animated tileset that you want to use for say a top down strategy game. Feel free to use it and change the opening comment to be licensed however you want.

I'v

[2013-01-15 14:14] FlixelCommunityBot opened #146 "Full outline rather than shadow on FlxText"
_Issue by **[msilver101](http://github.com/msilver101)** from 2012-10-27T22:57:55Z_
_Originally opened as https://github.com/AdamAtomic/flixel/issues/234_

---

I know how to implement this as well and would be happy to post code if you'd like. I find it quite helpful. It would be very easy to make a Boolean property for FlxText, something like fullOutlineShadow, that when set to true makes the wh

[2013-01-15 14:14] FlixelCommunityBot opened #147 "FlxSprite.onScreen() locks the game up if returns false."
_Issue by **[JonLim](http://github.com/JonLim)** from 2012-11-09T19:42:21Z_
_Originally opened as https://github.com/AdamAtomic/flixel/issues/235_

---

Hi!

I'm currently working on a match-3 style puzzle game, coming up with a better algorithm to check all of the spots on the board for matches. I've been pulling my hair out with certain aspects of Actionscript (and also Flixel) but I think I fou

[2013-01-15 14:14] FlixelCommunityBot opened #148 "Tiling Export"
_Issue by **[hirpatel](http://github.com/hirpatel)** from 2012-12-28T11:22:55Z_
_Originally opened as https://github.com/AdamAtomic/flixel/issues/236_

---

Hi...
I have image of my custom map plant and i need tiles of that plant map so which software I used for tiling of map plant.?

I have used Autocad that done only tiling but it cant get me out bunch of tiles images so what to do?

please help

[2013-01-15 14:14] FlixelCommunityBot opened #149 "No need to fill a camera twice if not blending alpha"
_Issue by **[moly](http://github.com/moly)** from 2013-01-14T18:44:54Z_
_Originally opened as https://github.com/AdamAtomic/flixel/issues/237_

---

This fix will fill the camera's buffer directly if alpha blending is not required, rather than filling the `_fill` bitmapData and then blitting that to the camera.

---

_**[moly](http://github.com/moly)** included the following code: https://github.c

[2013-01-15 15:22] Gama11 commented on #146
Just tried this out, seems pretty awesome! :D Been having a similar thought earlier actually.

It looks good, but there's one problem with it: Line thickness isn't variable, and the bigger the text `size` is, the smaller are the outlines in comparison (Could of course also have a public variable so you can change the thickness yourself). That's why `lineThickness` should depend on `size`:

[code]

[2013-01-15 15:41] Gama11 commented on #145
Animated tilemaps are something that should totally be a part of flixel. It's probably a majority of tilemap-based games that needs them at some point, and having to use sprites just for a few animations is a bit annyoing.

However, this class doesn't seem compatible with the current version of flixel - the second paramter of `loadMap` is not `TileArray` (whatever that was needed for) anymore, but

[2013-01-15 15:47] moly commented on #146
This seems incredibly inefficient, it's drawing the textfield 8 times. I haven't tested this yet but at least 4 of those draws should be unnecessary.

[2013-01-15 16:03] Gama11 commented on #146
Hm... I imagine that with 4 textfields only, you'll run into the problem that the edges are left out. Created an image to demonstrate this with GIMP:

![text](https://f.cloud.github.com/assets/2620907/68178/6ca6d61a-5f2c-11e2-9b0b-723701e21363.png)

That's why 4 more textfields are needed to fill those:

![text8](https://f.cloud.github.com/assets/2620907/68197/047c8ed0-5f2d-11e2-8ad2-48f123b492d1.

[2013-01-15 17:16] moly commented on #146
You can definitely do it in four.

[code]

I tried getting it down to one using `_matrix.scale()` but couldn't get it to work properly.

[2013-01-15 18:11] IQAndreas commented on #146
I haven't tested this myself, but I believe the same "outline" effect can be applied more efficiently (and more accurately, if you take a look at how poorly the outline works on the "X" character) to fonts with a glow filter.
- http://www.ghostwire.com/blog/archives/as3-drawing-outline-on-text-glyphs/
- http://www.flashandmath.com/howtos/outlinedtext/index.html

The edges may not be as crisp, but

[2013-01-15 22:21] Dovyski commented on #147
It seems you are calling `kill()` instead of `destroy()`. If that is the case, the sprite will be marked as non-existent and dead (`exists = false` and `alive = false`), however its position _won't_ change, that's why `onScreen()` continues to return `true`.

If you are calling `destroy()`, then you should see an exception.

[2013-01-15 22:37] Dovyski commented on #146
That's a great feature! :+1:

The method @IQAndreas suggested seems the easiest one, but I imagine it is slower then drawing the textfield 4 times. To manage all those borders (shadow, outline, etc),  the `borderStyle` property that @Gama11 suggested is a nice approach.

[2013-01-17 12:57] Dovyski commented on #145
I like that too, but I don't think changing the whole tile map every frame is the best approach. Maybe something simpler like adding a new parameter to `setTileProperties()` to indicate the animation or a new method: `setTileAnimation()`.

[2013-01-17 13:23] Dovyski commented on #148
Hey there!

This is not the best place to ask that. You will be better served at [Flixel Forums](http://forums.flixel.org/) :). There are lots of great developers there.

[2013-01-18 20:56] IQAndreas commented on #148
Try replying in [the original issue](https://github.com/AdamAtomic/flixel/issues/236). I don't think he will get a notification of a reply if it's written here.

I'll go ahead and close this issue as it does not pertain to the Flixel source.

[2013-01-18 20:56] #148 closed, assigned to nobody

[2013-01-21 02:32] Dovyski commented on #148
Thanks for the heaps up, @IQAndreas . He probably has found the answer somewhere =)

[2013-01-21 02:38] Dovyski commented on #122
I agree with you, @moly . This is an old issue and there was no reply within 2 months. I think it's safe to close it.

[2013-01-21 02:44] Dovyski commented on #43
I agree with @SeiferTim  and don't believe this is a bug. It could be useful to return the tile that is colliding, but it might break existing code. I think the best approach is to create a new `FlxTilemap` method in the future.

[2013-01-21 14:51] WingEraser commented on #122
I see. I'll close it.

[2013-01-21 14:51] #122 closed, assigned to nobody

[2013-01-21 16:36] SeiferTim commented on #43
Would someone want to mark this as 'Closed' and make a new Feature Request for a FlxTilemap function that returns the tile that is colliding with another object?

[2013-01-25 08:15] Dovyski commented on #43
@moly @IQAndreas  Do you guys agree with our thoughts? If so, I will close this issue and create a feature request.

[2013-01-25 18:28] IQAndreas commented on #43
Yes, I think it's a swell idea. Go ahead and make the feature request.

[2013-01-25 18:29] #43 closed, assigned to nobody

[2013-02-15 00:27] Dovyski commented on #43
I was writing the pull request for the enhancement we discussed here for `FlxTilemap` and I noticed that `FlxTilemap.overlapsWithCallback()` does exactly that:

[code]

I think it does the trick, so there is no need for a new method.

[2013-02-15 21:42] jquave opened #150 "FlxG.addBitmap has unsafe fallback to default png"
Not sure what side effects could occur from this, but the fallback to FlxSprite.ImgDefault gives an error when compiling:

Additionally, the FlxSprite.ImgDefault has no guarantee the game will have a data/default.png file. What happens if this is missing?

[2013-02-15 22:05] IQAndreas commented on #150
That image is embedded when Flixel is compiled. This means:
- **If they use the pre-made SWC** - they don't need to include the image, it will already be embedded and ready inside of the SWC.
- **If they copy the Flixel source into their project folder** - the image should tag along with all of the classes. If they manually remove the image, they will receive an error, just the same as if they rem

[2013-02-15 22:10] jquave commented on #150
Got it, I'm still learning Flixel. I'm doing everything in mxmlc to make sure I know how it all works. I see now flixel has the data directory with that image in it. So we are basically guaranteed to have the image exist.

[My commit](https://github.com/jquave/flixel/commit/f431198019812c23a305e7e83c0b45fc4179ea07) fixes the compile problem, but not sure how it effects the intended usage of ImgDef

[2013-02-15 22:19] #150 closed, assigned to nobody

[2013-02-17 14:08] WingEraser opened #152 "Pause CameraFX"
There is no pauseFX() in FlxCamera, only stopFX().
When you pause a game with FlxG.paused (for example), the camera fx continues.

[2013-02-17 14:19] WingEraser commented on #121
You want something like this:

[code]

Store all methods in an Array and also needs to check whether the mehod belongs to the Class::method().
(how does the bbcode in github works? Hehe Thanks @IQAndreas)

[2013-02-17 16:47] IQAndreas commented on #121
Unrelated to the issue, but I edited your code, @WingEraser, to show how to get code blocks working (edit the comment to see how I did it. I'm not entirely sure how to insert the special characters without them being parsed)

GitHub uses [Markdown](http://daringfireball.net/projects/markdown/syntax) and then adds [a few of its own features](https://help.github.com/articles/github-flavored-markdown

[2013-02-20 17:47] IQAndreas commented on #150
Resolved by 949b914f80ebda55eeaa9377c422a000a912327b

[2013-02-20 17:55] IQAndreas commented on #147
Is this issue definitely due to user error, or is there anything we can do about it? Shall I close it or leave it open?

[2013-02-21 09:31] moly commented on #147
It's user error. He's trying to use a sprite after it's been destroyed, which is causing a null reference exception. The only thing we could do is to add a check that a FlxObject exists to every one of its public methods.

[2013-02-21 11:24] Dovyski commented on #147
That's certainly user error. About your suggestion, @moly ,I think it is a great addition. We could check for `null` properties within `destroy()` (which prevents crash when an object is destroyed twice).

For me this issue can be closed.

[2013-02-26 20:48] IQAndreas commented on #147
I implemented your idea into a pull request: https://github.com/FlixelCommunity/flixel/pull/153

As this issue is invalid, I'm closing it as such.

[2013-02-26 20:48] #147 closed, assigned to nobody

[2013-02-26 21:28] IQAndreas commented on #37
@Dovyski, you assigned this issue to yourself. Are you still working on it, or should I "open it up to the public"?

[2013-02-27 01:41] Dovyski commented on #37
I am still working on it. I've committed some code to the Sandbox to test it, but have no time to continue. Does anyone want to continue from where I left or should I keep going?

[2013-02-27 02:04] Dovyski commented on #121
Something like that, @WingEraser . The pre/post methods are not part of my plugin idea. The hooks would be placed at special points within the method being hooked.

If we place the hooks carefully and at significant places, then it won't cause a huge performance impact.

[2013-02-27 21:06] WingEraser commented on #121
[code]

So, this is how a hook could look like. Where do you want to place those hooks actually? We got plenty of time to think about the places.
But back to topic, can we remove TimeManager and DebugPathDisplay from the core? It's used by FlxGame.
Hmm...FlxTimer, is not in the plugin folder? The timer update happens in the TimeManager.

(I'm programming Java at the moment, I'm not used to switch

[2013-02-28 06:52] IQAndreas commented on #37
It's entirely up to you. If you have found something and are on the right track, go ahead and finish when you get the time; we aren't in a hurry. But if you feel stuck, perhaps a second set of eyes could help.

[2013-02-28 23:35] Dovyski commented on #37
Ok, I will keep working on it. I think it's not far from over.

[2013-03-01 00:27] Dovyski commented on #37
I've just [committed](https://github.com/FlixelCommunity/FlixelSandbox/commit/c0c39d9192554536a35c505bf2f72f27064d946c) some tilemap collision tests to FlixelSandbox. I could not reproduce this bug, `FlxTilemap.overlapsWithCallback()` seems to be working as expected.

It's important to note that `FlxTilemap.overlapsWithCallback()` checks _all_ tiles that allow collision, so if the object is collid

[2013-03-01 00:56] Dovyski commented on #13
I've been thinking about this issue and I guess there is a simple solution. The whole problems is related to the frame index, so we should fix/sanitize the value before assigning it.

Why would Flixel show a warning when a wrong frame value is used? To make the developer aware of the problem, so he can fix it. Why doesn't Flixel fix the problem already? If there are 4 frames, then the index should

[2013-03-01 03:23] IQAndreas commented on #37
It's been a year since @imagame opened the issue, so he was definitely using Flixel 2.55, not a previous version. But he has probably found a solution or just moved on.

That makes sense. Shall we close this issue for now, but double check with imagame [in the original issue](https://github.com/AdamAtomic/flixel/issues/194)? Perhaps he still has the old code laying around and we can see if this wa

[2013-03-01 03:58] IQAndreas commented on #13
I forgot to finish this issue, thanks for resurfacing it.

That works. But, which of the two methods do we use to calculate how many frames there are? (see under the heading _"How many frames are there actually?"_ in my previous comment)

If we use the first method (requiring all the frames to be on the same row) we know exactly when the frame index is out of bounds.

If we use the second method (

[2013-03-01 12:41] Dovyski commented on #13
The over-thinking is good :)

First about the output message, I guess I was not clear enough when I made my point. I think Flixel should **not** output any error message when an incorrect frame is used. Flixel should analyze the value and sanitize/fix it silently.

Yeah, I noticed that now. `randomFrame()` assumes all frames are in the same row. That's a bug we should probably fix or investigate a

[2013-03-01 12:48] Dovyski commented on #37
I think he found a solution too :)

I will close this issue here then. I already asked @imagame about the code in the [original issue](https://github.com/AdamAtomic/flixel/issues/194). If we get something, we can re-open this issue.

[2013-03-01 14:09] imagame commented on #37
Original code (while loop starting in line 945 in overlapsWithCallback function):

[code]

And now same loop with my fix replacing 'else' code in line 977, to avoid calling the tile callback in all situations (only has to be called if there is overlapping !):

[code]

[2013-03-02 04:25] IQAndreas commented on #13
Keeping in mind, since Flixel only alerts you of warnings if the console is enabled and open, we don't run the risk of bothering "users/players" with the error message.

Imagine you are creating a game and for no reason one of your sprites suddenly resets to the first frame (frame 0). Assuming you even notice it, first you have to spend several minutes debugging if it's your code to find out where

[2013-03-02 11:23] WingEraser opened #154 "Smooth framerate"
It's from this topic: http://forums.flixel.org/index.php/topic,5072.0.html
You might want to look at krix fixes.

[2013-03-02 13:34] Gama11 commented on #154
There is already an issue concerning this: #32

[2013-03-02 13:38] WingEraser commented on #154
Oops, then I'll close this one.

Duplicate issue.

[2013-03-02 13:38] #154 closed, assigned to nobody

[2013-03-02 17:38] Dovyski commented on #13
Yeah I agree with you. A warning will not harm anybody, but I keep on thinking if we should fix the mistake on the fly too.

Using your example, if you try to set a frame above the upper range, Flixel should set the frame as the last one available. It will **not** cause the sprite to reset its animation. The same happens if a negative value is used in a frame (`-2`, for instance, would be converte

[2013-03-02 17:53] Dovyski commented on #10
I would like to suggest moving this issue to "Future release" milestone. It can be marked as a bug, but I think it's the consequence of a poor `FlxEmitter` customization API.

`FlxEmitter` should receive some overhauling, which could include a more flexible API for customization. [Axel](http://axgl.org/tutorials.php?id=axelite-basic) has some interesting features, such as "named emitters". That's

[2013-03-02 21:37] IQAndreas commented on #13
Perfect!

So, the only issue that remains is, how many frames are there in a tilemap?

[2013-03-02 22:13] Dovyski commented on #13
Yes, that's the only thing we must figure out. It will fix the `frame` setter and should also be used to fix `randomFrame()`.

[2013-03-03 00:53] IQAndreas opened #156 "Move Sound Tray code from FlxGame"
In `FlxGame`, rather than create a new Sound Tray instance and add it to the stage, all the logic for drawing the sound tray is spread across various functions in the class.

I feel the logic should be moved out and separated into a SoundTray class. I still need to look deeper into the code and see whether or not it should be considered a plugin, or if it needs to be in the main package.

[2013-03-03 00:57] IQAndreas opened #157 "Create `FlxToolbar` to avoid duplicate code"
_Taken from https://github.com/FlixelCommunity/flixel/pull/153#issuecomment-14321118_

There is a lot of repeated code inside of `Vis` and `VCR` which could be removed by giving them a common base class `FlxToolbar` (which would potentially allow for more toolbars to be able to be added in the future with ease). There are also a lot of hard-coded values which should be more dynamic.

[2013-03-03 10:37] IQAndreas opened #158 "Debugger does not work if `forcedebugger` is set before `super()`"
Here is the thread that brings up the issue http://forums.flixel.org/index.php?topic=4385.0 (found because I ran into the same problem). I have confirmed the bug exists.

I'm sure it's a quick and simple fix, so I'll take a look at it tomorrow.

[2013-03-03 21:54] WingEraser commented on #158
According to his last post, he put it above the super()....no wonder why it doesn't work. In the constructor the forceDebugger is set to false. It's an user error.

[2013-03-03 23:54] IQAndreas commented on #32
For anyone digging into this issue, I have found these two articles which should help:
- [Flixel's Internal Structure and Performance Tips](http://www.photonstorm.com/archives/1464/flash-game-dev-tip-10-flixel-2-5-internal-structure-and-performance-tips)
- [Deterministic Delta-tee in JS Games](http://www.gameclosure.com/blog/?p=111)

[2013-03-04 00:20] IQAndreas commented on #32
I have been trying to dig into this issue myself, and although I now understand the idea behind the deterministic delta-tee, I'm having some difficulty juggling those variables in my head, but I think I have a solution.

This is how the original code looks (with Krix's addition which seems to also be recommended by [the article mentioned earlier](http://www.gameclosure.com/blog/?p=111)):

[code]

[2013-03-04 11:12] Dovyski commented on #37
I've read the whole `FlxTilemap.overlapsWithCallback()` documentation and spent a huge amount of time understanding its code:

[code]

Here are my thoughts so far according to what I've understood from the method code:
- The `Callback` param is a function that takes the form `myCallback(Object1:FlxObject,Object2:FlxObject):Boolean` (pay attention to the return type). It is used to **check** if a t

[2013-03-04 19:05] Dovyski commented on #37
After some time in the deep catacombs of Flixel, I've found an answer :D

All I said in my previous post is correct and accurate. Flixel will invoke the **tile's** callback every time it detects an overlap, no matter if the tile allows collision or not. I could not reproduce @imagame bug: Flixel invoked the tile's callback only when an overlap was found (I've pushed to the Sandbox the code I used)

[2013-03-04 19:35] Dovyski commented on #158
@WingEraser has a point, but I don't like how `forceDebugger` works. If you don't look at `FlxGame`, you will never figure out that it sets `forceDebugger` to false.

The first time I saw `forceDebugger`, I thought it would force the debug mode, no matter where I am in the code. I am pretty sure the issue author thought the same. An easy fix is to remove the `forceDebugger` from `FlxGame` construc

[2013-03-04 19:44] WingEraser commented on #158
Hmm yeh, you want to make it static. Do you also want to apply to `useSoundHotKeys` and `useSystemCursor`?

[2013-03-04 20:17] Dovyski commented on #158
It doesn't have to be static. `FlxGame` will instantiate the `FlxDebugger` only when the game is added to the stage, which means _after_ the constructor call. As a consequence `forceDebugger` can be placed anywhere within the constructor :)

We can extend the same idea to `useSoundHotKeys` (it works the same way). About `useSystemCursor`, it is set as a parameter in `FlxGame`, so I think it should

[2013-03-04 22:39] IQAndreas commented on #158
I had the exact same problem at first! How about renaming it to something like `enableDebugger` or `allowDebugger`?

On a related topic, is there any way to open the debugger via code (so the game developer can open it, and it's not locked in any of FlxG's private or protected code), or should we add `showDebugger()` and `hideDebugger()` methods?

[2013-03-05 18:49] imagame commented on #37
I'll try to recreate it, once i review the code of my game (more than a
year since i wrote it). Give me some time and i'll provide you with an
example. Anyway i would not want you to waste your time.

[2013-03-05 19:08] Dovyski commented on #37
Ok, I will wait for your code. Don't worry about the time, it's not wasted :)

[2013-03-05 19:19] Dovyski commented on #158
I guess renaming `forceDebugger` will cause a massive code break. Lots of developers will knock on our doors :)

That was one of the first things I tried to find when I started working with Flixel. As far as I know, there is no way to open the debugger programmatically. It would be great to have them!  We should create a new feature request with those methods.

[2013-03-06 01:55] imagame commented on #37
I've reproduced the "overlapping issue behaviour" using your FlixelSandbox
project, playing with TestTileMap.as

As it is now TestTileMap.as when the player collides with Tile 3 (the
yellow one) it starts blinking. As you can see it continues blinking when
the player is positioned just in the left of the yellow tile but without
overlapping it. Same happens when the player is located over (on top o

[2013-03-07 17:04] greysondn commented on #157
I'll take the first part of this one in my dev team's repo, if you'd like :3

If someone beats me to it - well, no problems. Just wanted to drop a note that I was started on it.

I doubt I mess much with the hard-coded values, however. It'll have to wait for me to see.

Edit: By Nature, Adam!

http://pastebin.com/CMCx1PhU

That is not how object oriented code works!

It may make sense to add clean

[2013-03-07 17:08] greysondn opened #159 "Request:Implement pixel perfect separation (... and collision..?)"
All working forms of the solutions to this problem frankly aren't that great.

Thanks to PhotonStorm, we have pixel-perfect overlap and collision checking; we, however, have no pixel perfect separation working. Unfortunately discovered this while trying to make a bowl-shaped obstacle for a game.

[2013-03-07 20:37] greysondn commented on #157
I've issued a pull that gets the worst part of the refactoring and cleanup out of the way. It's not the full issue request, but it's a solid start.

Please see:
https://github.com/FlixelCommunity/flixel/pull/160

[2013-03-08 01:46] Dovyski commented on #157
Amazing job and thanks for the contributions so far, @greysondn ! I've checked your code superficially and it looks good.

About the cleaning up you mentioned, I think we will perform a few of them in the future. That's one of greatest things in open source communities, the code evolution. I've spotted some tweaks we can do in `FlxSprite`, for instance.

We certainly can continue to work on your c

[2013-03-08 12:36] greysondn commented on #157
At this point I've cleaned up the docs per my own added todos and looked over the code to see the actual feasibility of adding it in to the main base. (EDIT: Sorry; not had my coffee yet. I mean, using our usual classes such as flxGroup and flxButton, etc - instead of these hacked together ones that Adam has implemented to sidestep various issues that could cause.)

I think it's not only possible

[2013-03-08 13:21] greysondn commented on #139
@IQAndreas :
I think the way that TheMiner does things may be the way to go here, but in a Flixel fashion:
http://www.sociodox.com/theminer/index.html

Tabs work for that. I also think finding some way to preserve older workflows or to integrate them into the new ones is essential. Why not compromise?

First tab can be all the older stuff, with a configurable viewport. Newer tabs can be newer thin

[2013-03-19 16:13] IQAndreas commented on #158
Not necissarily. We could do something like this (using `useDebugger`, `enableDebugger`, `allowDebugger`, or whatever suits your fancy:

[code]

And yes, the code is quite flawed, but you get this gist. It adds the new `useDebugger` name, but still allows the old `forceDebugger` without any errors thrown (even alerting legacy developers to the change).

The `force` argument allows for these types

[2013-03-19 21:30] greysondn commented on #158
To chime in:

It's code design basics to make sure that /the name of the member matches what it does/. I never interpreted it to enable the debugger, but this is an interesting quandry that comes down to discovering bad design compared to expected semantic meaning - in English, "Despite seeming to be named for what it presumably does, forceDebugger clearly does not work correctly."

I don't think

[2013-03-21 12:06] moly commented on #158
My only problem with this is that it violates flixel's existing style. In every other class I've looked at, all member variables are assigned a default value in the constructor. Not doing so here would potentially leave `forceDebugger` uninitialised.

Personally, I think `forceDebugger` should be made private and set through the `FlxGame` constructor, just like `useSystemCursor` is. That way you r

[2013-03-23 13:58] WingEraser opened #162 "EventListener in FlxButton and FlxGroup is still active after set to false"
[code]

Click once on the button. The group where the button belongs will be deactivated. Now click anywhere on the stage and you'll see the the onClick is (still) fired.
Deactivate the button itself will prevent the firing the onClick.

[2013-03-28 14:04] greysondn commented on #162
I don't have time to pour over the documentation and codebase right now, but the first and sort of obvious question to my mind is: Do you know for sure what you're doing here? Active is not about event listeners but rather the Flixel standard update() step. (See: http://flixel.org/docs/org/flixel/FlxBasic.html#active for the one that eventually is used in FlxGroup)

Being said, that doesn't mean t

[2013-03-28 15:28] WingEraser commented on #162
I know what's going on.
For FlxButton active is to prevent to fire a event onUp.

[code]

That's the reason why it works. There is no need to get rid off the event listener, when deactivate.

When you deactivate a FlxGroup with FlxButtons, the button itself is active.
FlxGroup doesn't update the children when deactived, but the event listener is still active. And because it's a MouseEvent it can a

[2013-03-28 19:59] greysondn commented on #162
_chuckles_ As I had said earlier, I didn't have time to review the code relevant here.

I don't necessarily think that the solution, however, is to set all children inactive, as group members can be in more than one group. Let's find a solution, though :3

I'm going to think over this, but AS3 is admittedly not my strong suit by any stretch of the imagination. There must be some way. Ah the hazard

[2013-03-28 20:10] WingEraser commented on #162
No worries.
The FlxGroup::setAll() tackles group inside group already.

[2013-03-28 21:49] greysondn commented on #162
No, no - I mean the case where the flxbutton is a member of more than one flxgroup XD it seems like wontonly disabling each member would make the other group the flxbutton is in have unexpected behavior - that button wouldn't match the second group's active setting.

[2013-03-28 22:05] WingEraser commented on #162
Lol XD, never added an object in different groups. Just tried, the behaviour is expected. When group 1  is inactive and group 2 is active. The button will render as normal instead inactive. And of course the event will be fired.
When the button is active is set to false directly, it will be alright in both groups. It's inactive and that's what you should expect.

[2013-03-28 22:34] greysondn commented on #162
_facepalms_ We both need coffee, methinks. I'll do some testing next time I'm writing code and see what happens here.

[2013-03-29 22:11] michaelplzno commented on #146
Just as a heads up, the 4 diagonal version works only in the case that you don't have a one pixel font. Perhaps it could be an extra option in the font style, but I wouldn't recommend it b/c its a bit confusing. Here is an example image of just diagonals on a one pixel font upscaled by two:
![TinyProblem](https://f.cloud.github.com/assets/2665989/319391/9b02ec4a-98bd-11e2-9119-b7e4034bad41.png)

A

[2013-03-29 22:18] michaelplzno commented on #145
@Dovyski The code only changes the image one time when the time between each frame is passed. This is why the setDirty(true) code only happens if (dirty) For example, if the map is set to animate every 1 second it will do almost nothing other than count down a timer till the 1 second passes. Then for one frame change the image to the new tileset. I can't come up with a quicker way to so this, thou

[2013-04-01 11:35] Gama11 commented on #10
@Dovyski "Named emitters" (similar to the way animations work in flixel) seems like an awesome feature! I've always been annoyed by the way emitters work, it's kinda difficult and takes a lot of time to come up with the "right" / good values for it to look good. FlxEmitters could come with a set few pre-made / pre-defined emitters.

I've started doing a similar thing by creating a new class for my

[2013-04-04 17:57] Dovyski commented on #145
Oh, I see now @msilver101 . Thanks for clarifying that!

[2013-04-04 18:16] Dovyski commented on #158
I liked the [suggestion](https://github.com/FlixelCommunity/flixel/issues/158#issuecomment-15124379)  @IQAndreas  wrote. A name as `useDebugger` (or `enableDebugger`) makes much more sense to me (plus the `showDebugger()` is really nice!).

That makes sense too. The only thing that concerns me is the amount of parameter `FlxGame` constructor might receive in the future. It already has 7 (!) and wi

[2013-04-04 19:19] Dovyski commented on #121
That's what I had in mind, @WingEraser ! However the args are not provided by the developer, but by Flixel itself according to the "active" method. Something like this:

[code]

Using that approach, one could create a plugin that injects physics into any sprite added to the state.

[2013-04-04 19:25] Dovyski commented on #10
I was doing the same, that's why I suggested the named emitters :)

[2013-04-14 18:52] IQAndreas commented on #106
This was marked under the "Future release" milestone, but considering how it doesn't break any existing code, assuming this fix works as expected (I haven't tested it), shall we include it for "v2.56"?

[2013-04-14 20:42] Dovyski commented on #106
Since it's an optimization, I think we should wait for the "Future release" milestone.

[2013-04-20 19:50] greysondn opened #163 "Consider merging Flixel Power Tools into code tree"
[website](http://www.photonstorm.com/flixel-power-tools)
[github](https://github.com/photonstorm/Flixel-Power-Tools)

Looking over his license, it seems somewhat sound for at least partial inclusion and/or merging. IANAL.

Richard Davey has noted that he is no longer working on this - having moved on to HTML 5. He had originally intended to add an incremental release for a few small fixes and addi

[2013-04-22 23:31] Dovyski commented on #139
I would love to see [this console](http://www.youtube.com/watch?v=QWfpw7elWk8&feature=youtu.be) implemented in the new Flixel debug panel.

[2013-04-23 14:38] Gama11 commented on #139
@Dovyski I have actually thought about how awesome the abliity to enter commands for debugging would be in the past. I'm wondering how difficult it'd be to integrate this into flixel. It looks like it's extremely simple to use and also really flexible.

[2013-04-23 16:59] Dovyski commented on #139
I agree! The ability to enter commands can help a lot in some cases. I don't think it's difficult to integrate that console into Flixel, but if they turn out to be "incompatible", we can invest some time coding our own.

[2013-04-25 16:10] SeiferTim opened #164 "Suggestion: Mouse Sensitivity"
I've made this change in my own code, and it's been pretty useful.
This just sets the scale a which the mouse cursor moves. In my current project, I have the game at 2x zoom, and I have my sensitivity at 1.25 so the mouse cursor is just a little faster than the 'regular' mouse.

I don't know if anyone else will find it useful or not...

Here's the changes I've made:

add to FlxG.as:

[code]

Add t

[2013-04-25 16:28] SeiferTim opened #165 "FlxG.camera.setBounds no longer works?"
Trying to check out the lastest version of the Community code, and most everything seems to be working fine, except that the bounds I'm setting on my camera no longer seem to work...?

Previously, if I said `FlxG.camera.setBounds(0,0,1000,800);` then I have a FlxSprite that is set to be followed, when it gets to the far left, the camera will stop without showing anything with x < 0... that is no l

[2013-04-25 16:35] SeiferTim commented on #165
Hm, it does stop, but it's like.... if my left bound = 0 then it treats it as -160...

[2013-04-25 16:42] SeiferTim commented on #165
I 'fixed' it by changing:

[code]

to

[code]

in FlxCamera.as on line 327...
This might only work for me since my camera's zoom is the same as my defaultZoom...

[2013-04-25 18:21] SeiferTim commented on #163
I agree with this, although someone should probably talk to him about it, first.
Since the Power Tools add so many great features that I use all the time, it makes sense. There are a few parts that are missing features or just need to be tweaked before I think it would be ready to be added in.

[2013-04-25 18:26] SeiferTim commented on #27
I've included this in my own code for awhile. It's easy to add (although someone else might have a better approach).

In FlxGame.as:

In the variable declarations add:

[code]

In the constructor, add:

[code]

Then, in both onFocus and onFocusLost, add (before any of the code in the function):

[code]

You might have trouble accessing the variable if you don't setup a variable that points to the

[2013-04-26 13:32] Dovyski commented on #163
I like the idea too and agree we should exchange some ideas with Richard first. About the merge, I don't think we should do it for all the features.

I've used Power Tools before and some of its features are great to complement already existing code (e.g. shooting management), but sometimes they get into the way as you become more seasoned in Flixel. I would merge only the "core" features (e.g. pi

[2013-04-26 14:16] Dovyski commented on #37
Finally I got some time to test your case and I've confirmed the bug. I will investigate it even further.

[2013-04-26 16:59] Dovyski commented on #37
I've fixed the bug using @imagame 's solution (I just removed a few duplicated code blocks). I tested it using the sandbox and it seems to be working.

If anybody wants to test it further, use [this Flixel branch](https://github.com/Dovyski/flixel/tree/fix_issue_37) which contains the fix.

[2013-04-26 17:28] Dovyski commented on #45
I could not to reproduce this bug. Apparently `drawTilemap()` is invoked every frame, which makes sense since the tilemap must be rendered every frame.

I changed the screen size to `1000x1000` (using `zoom=1`) as @accidentalrebel suggested, but the FPS rate remained 30. Maybe the performance impact he described is not related to the tilemap itself.

[2013-04-26 17:41] Dovyski commented on #144
This bug has been fixed by this [commit](https://github.com/FlixelCommunity/flixel/pull/102), which is related to issues https://github.com/FlixelCommunity/flixel/issues/46 and https://github.com/FlixelCommunity/flixel/issues/34 .

[2013-04-26 17:41] #144 closed, assigned to nobody

[2013-05-01 01:02] IQAndreas commented on #158
Should we move this up to the next version, or include it in Flixel v2.56? If coded properly, it shouldn't break any existing code. And we could move features such as the `showDebugger()` function into a future release.

[2013-05-01 01:32] IQAndreas commented on #13
How about this, we add a public getter/setter named `numFrames`. it will automatically set itself based on the size of the sprite sheet, however, developers can set this value manually (which they would if their sprite sheets were not "entirely filled", something like this (with `[ ]` representing empty tiles):

[code]
- If they try to set the frame number above this new `numFrames` value, they ge

[2013-05-01 05:45] IQAndreas commented on #53
I have been playing around with this, and I pushed [some test code](https://github.com/FlixelCommunity/FlixelSandbox/blob/master/src/TestAngles.as) to the Sandbox.

The fix `var dy:Number = PivotY-Y;` fixes the problem.

(though, Adam's math is confusing me a bit, and I'm not a fan of all those arbitrary values just thrown in, but I'll live. Also the accuracy is off by a bit, but the difference is

[2013-05-01 05:50] IQAndreas commented on #53
Alternatively (and this I believe looks more "symmetrical" code-wise) we can use this code which also fixes the issue:

[code]

[2013-05-01 18:03] moly commented on #53
There's already a pull request with your proposed fix: https://github.com/FlixelCommunity/flixel/pull/128
It's not been accepted yet as it seems to cause problems with pathfinding.

[2013-05-02 03:37] IQAndreas commented on #53
Yep, but it seems like SeiferTim is a tad busy at the moment, which is why I'm picking this issue up. I was going to try my hand at fixing the pathfinding, and there also seemed to be some line break issues in the pull request which I would see if I could avoid.

Would you happen to have any of the "testing code" you used for the pathfinding left?

[2013-05-02 17:24] flunardelli opened #167 "FlxCamera perspective projection"
I added a helper function to work with perspective projection in FlxCamera that I think could be useful.

[code]

[2013-05-02 19:29] Gama11 commented on #167
This is pretty awesome! :D There are a lot of cool things this could be used for, for example a transition effect between levels.

[I've been playing around with this a bit](https://dl.dropboxusercontent.com/u/18627942/Demos/PerspectiveProjection.swf). One thing I'd definitely change is the possibility of passing invalid values for `fieldOfView`, namely, everything smaller than 1 and bigger than 1

[2013-05-02 20:04] flunardelli commented on #167
Pretty demo Gama !!!
I agree with your point and I will work I little more in error prevention.
Please keep free to share this idea with HaxeFlixel community.

[2013-05-03 03:59] moly commented on #53
Any pathfinding code should show the problem. You can use the flixel pathfinding demo: https://code.google.com/p/mightiesthero-flash-game-dev-tips/source/browse/FlxPathFinding/src/PlayState.as

[2013-05-04 01:51] Dovyski commented on #164
:+1: I like it!

[2013-05-04 01:58] Dovyski commented on #165
That `if (zoom > 1)` you changed was added with [this](https://github.com/FlixelCommunity/flixel/pull/119)  pull request. Do you have any code I can use to test your fix and investigate the problem even further, @SeiferTim ?

[2013-05-04 02:02] Dovyski commented on #158
I think we should move this up to the next version, that way we can focus on the currently open bugs.

[2013-05-04 02:20] Dovyski commented on #13
I like the idea of adding `numFrames`, but I think it should be ready-only. If we allow developers to set `numFrames` we are replicating the `frame` problem, there will be two properties with "boundary" issues.

`numFrames` should be calculated when the sprite art is loaded. Using your example, `numFrames` would be 8, even though there are two empty frames (frames 6 and 7) . Flixel is not able to

[2013-05-04 02:47] Dovyski commented on #167
This is really cool, @flunardelli ! The addition of `perspectiveProjection()` will allow the creation of several effects (Star Wars text anyone? :D)

[2013-05-04 16:16] IQAndreas commented on #13
But that would still make functions like `randomFrame()` worthless for situations like the example where some of the frames are empty.

How about instead making that read-only property named `maxFrames`? The read/write property `numFrames` will default to this value, but can be changed to any value _as long as it's lower than `maxFrames`_. This will ensure that developers can tell Flixel how many

[2013-05-04 21:40] Dovyski commented on #13
Perfect!

[2013-05-07 11:03] IQAndreas commented on #13
I was working on this when I noticed another potential bug (albeit, a rare case one).

If the width of your sprite sheet doesn't evenly divide by the width of each tile (say, the sprite sheet is 25 pixels wide, and each tile is 10 pixels wide), Flixel will currently assume that frame 2 (zero based) will be located at x:20, and will only render "half of" a sprite.

I'm going to change the way Flixe

[2013-05-07 11:27] Dovyski commented on #13
I guess Flixel calculates tiles that way to maintain the uniformity between the game code and tile editors such as DAME (or any image editor with grids enabled). If you change that behavior developers might face inconsistencies beteween what the tile editor is showing and what Flixel is actually showing.

We should test that change with DAME and other editor to check if everything is ok.

[2013-05-08 16:09] SeiferTim commented on #165
Um, I don't really have any simple code to share - I stuck this new version into an already coded project and that's when I noticed the problem.

[2013-05-13 21:38] xyroclast commented on #165
I, too switched to Flixel Community on an existing large project, and the camera began behaving like this for me as well. I'll see if I can dig some relevant bounds/camera code out of it that might help

[2013-05-13 21:42] xyroclast commented on #165
Here are my dimensions/pixel resolution/etc. from my main main FlxGame-extending class:

super(320, 240, MenuState, 2);
FlxG.worldBounds = new FlxRect(0, 0, 3000, 480);

Here's my camera setup code from my FlxState-extending game state:

private function setupCamera():void
{
    FlxG.camera.follow(Game.player,2.5);
    FlxG.camera.setBounds(0,0,3000,480);
}

That's all I can think of offhand that

[2013-05-14 11:12] Dovyski commented on #165
Thanks for the hints, guys! I will investigate the problem.

[2013-05-14 18:50] greysondn commented on #163
I should mention that we could hang other suggestions I've had - #159 comes to mind - on this one. I've got lots of ideas but my math skills are weak XD So it's this balance of things that make sense to include "in general" or "for platformers" and "where can I give something back?"

Never simple ~ I have always been more an ideas and abstract code man than an actual get-it-done guy. But enough ra

[2013-05-14 19:02] greysondn commented on #164
Three things here.

First, it seems like either failing to escape the game/application window despite running the flixel-based cursor past the edge of it is a potential issue. I've added actually testing this against some of our code to check that, but it's a familiar one to me when speed in an application != system-wide speed for the cursor's motion. (The question comes down to, are the system cu

[2013-05-17 00:14] xyroclast commented on #165
Added note: SeiferTim's fix didn't have any effect in my case

[2013-05-17 00:18] xyroclast commented on #165
I'll see about trying older versions til the problem goes away, and see if I can pinpoint any more insight for you

[2013-05-17 03:45] xyroclast commented on #165
Update: I've determined which commit introduces the bug:
https://github.com/FlixelCommunity/flixel/commit/6f3ca287f01f82167eebb9c7cbf8e3df3738a085#org/flixel/FlxCamera.as

[2013-05-17 03:45] xyroclast commented on #165
It's been in place for 7 months, so it must be fairly obscure

[2013-06-20 09:49] Beeblerox opened #168 "possible FlxCamera screen conflict"
It may appear if you create:

[code]

The problem is in following: default camera's screen:FlxSprite have the same size and color, so this newly created sprite and camera's screen will share the same pixels BitmapData.

Possible solution for this issue is to replace lines from FlxCamera:

[code]

with

[code]

[2013-06-29 12:50] #45 closed, assigned to Dovyski

[2013-07-29 19:32] Dovyski commented on #108
I've been looking at the code and I think it's not worth it to spend some much time refactoring `FlxText` for this milestone. As soon as we start working on the "feature version", `FlxText` might need another treatment (if we implement some Stage3D, for instance).

I would like to move this issue to the next milestone, so we can focus on the current open bugs.

[2013-07-29 19:41] Dovyski commented on #35
Right now increasing `FlxG.worldDivisions` directly impacts Flixel performance because a new QuadTree is created for every call to `overlap()`. There is a [fix](https://github.com/FlixelCommunity/flixel/issues/107) for that creation problem.

Since there was [no response](https://github.com/AdamAtomic/flixel/issues/196#issuecomment-11558056) by the author in the original issue, I think it's safe t

[2013-07-30 13:28] greysondn commented on #35
It'd be nice if the original user had responded. I'm not wholly aware but can confirm a similar issue that can be reproduced.

Basically, if you create a square flxSprite and place a decent sized group of them with no space together (we did 10x10 for a total of 100), set them to collide with one another, then collide with a given one - wow! Behavior is occasionally erratic, but for the better part

[2013-07-30 14:42] Dovyski commented on #35
What @greysondn described is related to the original issue to some extent, as I see things. @moly already suggested we give some thoughts about how other engines process the collision, so we can borrow some ideas and improve Flixel.

Fixing the QuedTree creation for every frame greatly improves performance, but it's not a silver bullet to solve all collision problems. We definitely need to investi

[2013-07-30 14:49] Dovyski commented on #165
I will revert the commit that introduced the bug. The camera should behave properly again.

[2013-07-30 20:20] greysondn commented on #107
@moly :
However sloppily, I attempted to apply these changes to the [dark-flixel](https://github.com/greysondn/flixel/tree/dark-flixel) branch in my forked repo. You're welcome - and encouraged - to check my attempt at manually merging in [2cdb5731](https://github.com/greysondn/flixel/commit/2cdb5731349d27a4b51afde50a905add68c6ab6a)

Compilation of an application gave me this readout:

[code]

Alt

[2013-07-30 23:31] greysondn commented on #107
@moly indicated that I had mistakenly missed some of his changes. After correcting for that and merging (manually resolving conflicts along the way) to match the current state of the main dev branch, I have created a pull request from a branch that contains @moly's changes. That is #169 and was just issued.

I have tested this on my own code, which is overlap and collision intensive, and can indic

[2013-08-01 00:36] Dovyski commented on #107
Thanks for taking the time to merge @moly 's changes and resolve all conflicts, @greysondn ! As soon as we ship the current bug-fix release, your pull request will be reviewed and merged.

[2013-08-04 03:38] greysondn opened #170 "FlxSprite.drawLine() Shows Incorrect Behavior When Full Transparency Set In Color"
A simple class:

[code]

Attempted construction (highest level of main FlxState):

[code]

A snapshot of this result is available here:
https://lh4.googleusercontent.com/-qvQjI6WOWb8/Uf3Mbzj_i3I/AAAAAAAACHQ/-o8QnFji-XE/s800/flixel%2520issue.png

I may find time to fix it myself if it's not too complex, but I wanted to go ahead and post it for confirmation. (If someone else fixes it, I won't be the

[2013-08-05 19:36] Dovyski commented on #35
Since the original author did not respond to this issue and @greysondn created a [pull request](https://github.com/FlixelCommunity/flixel/pull/169) with @moly fixes improving the quadtree creation per update, I'm closing this issue.

If we face that same problem in the future, let's approach it using the improved quadtree code.

[2013-08-05 19:36] #35 closed, assigned to nobody

[2013-08-05 19:37] Dovyski commented on #108
I'm moving this issue to the "future release" milestone.

[2013-08-05 20:24] Dovyski commented on #165
I've just merged the fix https://github.com/FlixelCommunity/flixel/commit/3c49912072abdbd66f01c3cc361f5fa671303e87 . The camera should work properly again.

[2013-08-05 20:29] Dovyski commented on #10
I'm pushing this issue up to the "Future release" milestone since the changes required to fix it demand new features (better API for `FlxEmitter`).

[2013-08-12 12:17] Dovyski commented on #53
I'm moving this issue to the "future release" milestone.

If we fix `FlxU.rotatePoint()` and all internal Flixel references, Flixel should work with the new approach, but the change to `FlxU.rotatePoint()` will inevitably break the code of everyone using that method expecting the old results.

[2013-08-17 19:02] FlixelCommunityBot opened #172 "Sound only plays after unpausing"
_Issue by **[mrnerdman](http://github.com/mrnerdman)** from 2013-07-08T21:39:29Z_
_Originally opened as https://github.com/AdamAtomic/flixel/issues/238_

---

This is my `create()` function for my intro state, where I want to play a little ditty:

[code]

However, the sound only plays if I unfocus from the game(where the game dims and there's a big play button), then focus again.
Please help.

[2013-08-18 23:34] #165 closed, assigned to Dovyski

[2013-08-19 16:49] IQAndreas commented on #172
This bug might have already been solved with the extensive changes we made to FlxSound.

I have recommended @mrnerdman give the code in the `dev` branch a try, so we will see if that solves the issue for him.

[2013-08-19 23:24] Dovyski commented on #172
I confirm this bug has been fixed in `dev`. I've tested the code snippet on Flixel Sandbox using the last `dev` and it worked as expected.

[2013-08-20 00:06] Dovyski commented on #170
I've confirmed the bug [here](https://github.com/FlixelCommunity/FlixelSandbox/commit/22fda97326680415c985326877618f8bdcd964d2).

`drawLine()` seems to work with all alpha values but `00` (full transparency). Inspecting `FlxSprite` code, the mistake is explicit (some lines were omitted for the sake of understanding):

[code]

If  `alphaComponent` is less _or equal_ to zero, it's set to 1. It's rea

[2013-08-20 01:05] #55 closed, assigned to moly

[2013-08-20 01:07] #29 closed, assigned to moly

[2013-08-20 01:10] Dovyski commented on #30
Merged https://github.com/FlixelCommunity/flixel/commit/bdaeb9f52d8220cd114ab875e66df3a58e32cf53.

[2013-08-20 01:13] Dovyski commented on #37
Fixed here https://github.com/FlixelCommunity/flixel/commit/99447a04392a1af4eafb1f96bb6abf72ac4a4aad.

[2013-08-20 01:13] #37 closed, assigned to Dovyski

[2013-08-20 06:26] IQAndreas commented on #170
I agree, it looks like a typo, but I would probably have set `alphaComponent` to `0` instead.

Is there any possible value of `Color` that would even cause it to `alphaComponent` to ever be negative? (I must confess that I sometimes do checks like that "just in case". I'm not sure why, it just makes me feel safe.)

The "warning thought" is a good idea, but I would just let developers set the alpha

[2013-08-20 13:04] Dovyski commented on #170
I would implement it the very same way you describe, @IQAndreas (setting `alphaComponent` to `0` to allow things like tween). As far as I can tell, `alphaComponent` is always greater or equal to zero, so I think the `<=0` test is there "just in case" (I do thinks like that very often, better safe than sorry).

I've just sent a pull request to fix this issue. If everything looks ok, I can merge it

[2013-08-20 22:06] #170 closed, assigned to Dovyski

[2013-08-20 22:08] IQAndreas commented on #170
Fixed by commit a731d166b927eb2ffaff5805f35c42ca90385c88

_(edit: Woah, GitHub automatically closed this issue when I merged the pull request. Is this feature new, or did I just not notice it before?)_

[2013-08-20 22:44] Dovyski commented on #170
It's a new feature: a merged pull request automatically closes the issue it fixes :)

[2013-08-21 16:28] Dovyski commented on #162
As @greysondn pointed out, it's not a bug if we think any group member might be part of another group. I've never done that, but any `FlxSprite` can be a member of several groups at the same time, so `FlxGroup` should not "interfere" with any of its members, since that interference will affect the other groups.

If we decide to propagate to the children any change made in the parent group, then we

[2013-08-21 20:06] greysondn commented on #170
okay then :3 Sorry, the miss had a minor operation and was busy but glad to see I'm not insane. I wonder why, ultimately, he didn't just set it to zero before..? Hm....

[2013-08-21 20:13] greysondn commented on #162
Incidental example from my own code right now as to why this matters:

I have an enemy of sorts that can interact with the player's units indirectly, and that interaction's persistence is based largely on whether the player is interacting with ANY of the enemies of that type any longer. But the larger collection of enemies also matters for various reasons and so it's separate.

That is, I have ant

[2013-08-21 20:17] greysondn commented on #162
I'll bring up the "NDA getting in the way of helping and explaining things upstream" issue at our next meeting, and apologize for that in the meantime. It's super easy to understand if I can just post scraps of code for you :(

[2013-08-21 20:23] Dovyski commented on #162
There is no need for scraps of code, @greysondn , I understood your case :) I agree that the the ability to be in multiple groups is useful and should not be removed/changed.

[2013-08-22 05:24] FlixelCommunityBot opened #175 "loadRotatedGraphic Error"
_Issue by **[Conchlab](http://github.com/Conchlab)** from 2013-08-22T03:33:29Z_
_Originally opened as https://github.com/AdamAtomic/flixel/issues/239_

---

When I use the function "loadRotatedGraphic(INSERT MY GRAPHIC CLASS)" it forces the character to move all the way to right. I am calling the function inside the if statement of when the D key is pressed

[2013-08-23 16:52] Dovyski commented on #175
Could you please provide us with some code snippets, @Conchlab ?

[2013-09-11 21:19] erlioniel opened #176 "FlxCamera memory leak"
Memory leak in FlxCamera. For example:

[code]

After this code in stage create memory usage over 100 mb. Also work with FlxG.resetCameras();

[2013-09-11 22:16] erlioniel commented on #176
Leak detected in function FlxG.createBitmap() cache.

[2013-09-13 11:36] Dovyski commented on #176
Thanks for the report and the valuable clue, @erlioniel ! We will check that soon.

[2013-09-23 13:17] Dovyski commented on #175
I could not reproduce this and since the author did not provide us with some code snippets, I'm closing this issue.

[2013-09-23 13:17] #175 closed, assigned to nobody

[2013-09-23 13:25] Dovyski commented on #162
Ok, guys, we had a lot of discussion here :) The issue has been quiet for about a month and I think the final thought is that `FlxGroup` should **_not**_ change any of its members, because they can be part of another group at the same time.

If anyone disagrees with that, please share your thoughts. I will close the issue within the next days if nothing happens.

[2013-09-23 13:30] #9 closed, assigned to moly

[2013-09-23 13:30] #39 closed, assigned to moly

[2013-09-23 13:30] #54 closed, assigned to nobody

[2013-09-23 13:34] Dovyski commented on #13
Issue has been fixed in https://github.com/FlixelCommunity/flixel/commit/df5dfc62678b813893bad806ef7a9bea56cbaf67.

[2013-09-23 13:34] #13 closed, assigned to IQAndreas

[2013-09-23 13:37] Dovyski commented on #168
I'm moving this to the future release milestone.

[2013-09-24 17:14] IQAndreas commented on #172
I'm closing this issue assuming the specific issue addressed by @mrnerdman has indeed been fixed; but the issue can be re-opened if needed.

[2013-09-24 17:14] #172 closed, assigned to IQAndreas

[2013-10-07 14:08] Dovyski opened #177 "CRT effect plugin"
This [CRT effect](http://flashdaily.net/post/63359150472/crt-effect-on-stage3d-with-source-code) is awesome and perfectly fits with Flixel feeling. It would be nice to have a plugin to make all that out of the box.

Here is the usual Flixel render:
![a1af80](https://f.cloud.github.com/assets/512405/1280863/c451c1f6-2f59-11e3-9d13-440e1815118b.png)

Here the same render after the CRT effect:
![2f13

[2013-10-08 23:24] #34 closed, assigned to moly

[2013-10-08 23:24] #46 closed, assigned to moly

[2013-10-08 23:28] IQAndreas commented on #106
My mistake, the pull request was marked for _Flixel v2.56_, while I noticed now the issue was marked _Future release_. It doesn't break any existing code, so unless anyone feels differently, I'll let it slide and just keep the commit (luckily commits are really easy to undo).

Merged in c2fc664abcba114563e2573266c794451773ed5d

[2013-10-08 23:28] #106 closed, assigned to nobody

[2013-10-08 23:31] IQAndreas commented on #5
Fixed in 1f19b26596e3a6762982ad1ea20edc20fbea227e

[2013-10-08 23:31] #5 closed, assigned to IQAndreas

[2013-10-08 23:35] #162 closed, assigned to Dovyski

[2013-10-12 17:47] IQAndreas commented on #111
Almost entirely fixed in 3ba59745b8fd7bfaf946c8f3483fe1561ec2119c

There was one warning I could not fix easily:
- _Could not resolve variable (may be a dynamic member)_

Most of these will solve themselves when we switch over to [using typed Vectors instead of weakly typed Arrays](https://github.com/FlixelCommunity/flixel/issues/104).

[2013-10-12 17:47] #111 closed, assigned to IQAndreas

[2013-10-12 17:48] IQAndreas commented on #22
Finally fixed in 2146fdae6b42495bb34c3f2257c91560893c84cf

[2013-10-12 17:48] #22 closed, assigned to IQAndreas

[2013-10-14 14:50] Dovyski opened #182 "Release version 2.56"
This issue lists all tasks we need to finish in order to ship version **_2.56**_.
- [x] Test current build, merging pull requests with any regression fix;
- [x] Update [CHANGELOG](https://github.com/FlixelCommunity/flixel/blob/dev/CHANGELOG.md) file;
- [x] Merge `dev` into `master`
- [x] Update [flixelcommunity.org](http://flixelcommunity.org) with lastest build info;
- [x] Spread the word and cel

[2013-10-14 14:58] Dovyski commented on #182
I've just sent two pull requests with regression fixes: https://github.com/FlixelCommunity/flixel/pull/181 and https://github.com/FlixelCommunity/flixel/pull/180. I've tested the current `dev` branch against three of my games:
- [BlacksmithDash](https://play.google.com/store/apps/details?id=air.com.loopyape.blacksmithdash.BlacksmithDash)
- [Station Siege](https://play.google.com/store/apps/details

[2013-10-14 17:56] WingEraser commented on #182
Run Mode before you release. It doesn't run as expected.

[2013-10-14 18:02] Dovyski commented on #182
@WingEraser We will and thanks for all the feedback and help! I didn't have time to check your pull requests or Mode , but it's on my list.

[2013-10-15 00:17] IQAndreas commented on #182
_Picture me saying this like a 6-year-old who was just told to clean his room:_ "Do we have to?"

Since we don't have any new features (pretty much only bugfixes), can't we just point users to [the list of commits](https://github.com/FlixelCommunity/flixel/commits/dev)? ;)

But if a changelog is needed (and I would actually be glad to do the dirty work and write it), I have been playing around wit

[2013-10-15 03:06] Dovyski commented on #182
Mode's menu does not work because we set `moves = false` in `FlxText`. I've fixed that in https://github.com/FlixelCommunity/flixel/pull/180, but @moly pointed out that `FlxObject` documentation states that `FlxText` has `moves` defaulted to `false`.

If we decide to keep `moves` untouched in `FlxText` (the original buggy behavior), we must update `FlxObjects` documentation to reflect that.

I see

[2013-10-15 05:21] IQAndreas commented on #182
This is the gist of the changelog. I still need to clean it up and make it look a bit prettier. Also, there are a few last changes on their way.

Do you guys have any thoughts? Anything that should be moved/removed?

---

#### New Features

Add properties `numFrames` and `maxFrames` to `FlxSprite` #174
Add new `FlxTween` class #114
Add function to trigger full-screen support ([not complete](https:

[2013-10-15 22:04] Dovyski commented on #182
That's great, well done! About your last question, I think it's important to include these entries:

[2013-10-21 11:53] Dovyski commented on #30
This fix caused a regression with Mode ([non-disapearing particles bug](https://github.com/FlixelCommunity/flixel/pull/179#issuecomment-26324212)). Previously `FlxGroup` was calling `FlxBasic#revive()` that only changes `alive` and `exists` of the group itself, which was the cause of the report.

However after `FlxGroup#revive()` was implemented, it revives all members of the group, which is _not_

[2013-10-21 17:57] IQAndreas commented on #30
We could add an optional paramter `FlxGroup#revive(reviveChildren:Boolean = false)`. That way it stays reverse-compatible.

However, I would prefer it if `reviveChildren` defaulted to `true`, and we explicitly set it to `false` from inside of `FlxEmitter`. But in that case, how common do you think it is that other games use that sort of recycling? They would need to be aware of this new parameter

[2013-10-21 18:55] IQAndreas commented on #30
Argh, I just realized that `FlxGroup#revive()` is an overridden method, so we would need all `FlxBasic` objects to include that parameter. What a can of worms.

Other alternatives:
- Add a `reviveAll()` to `FlxGroup` - in that case, why not a `killAll()` instead of assuming everything inside the group should die with it? One important question that has a bearing on this, can a `FlxBasic` object be

[2013-10-21 19:11] IQAndreas commented on #30
Also, I did a quick check, and the only class that actually uses the `revive` function is `FlxEmitter` (it doesn't check if the `FlxGroup` is dead first, it forces a revive anyway.)

Oh me a year ago; such wise words, yet unaware of how `FlxEmitter` was already plotting against you.

[2013-10-21 20:33] Dovyski commented on #30
It's a complex matter after all :)

I'm a fan of keeping the API as simple as possible, so I believe `kill()` and `revive()` should work on the group itself, while `killAll()` and `reviveAll()` work on the group members.

`group.kill()` and `group.revive()` allow an easy way to show/hide a huge amount of sprites (members of the group). If a sprite belongs to more than a group, for instance, `group

[2013-10-21 22:28] IQAndreas commented on #30
Perfect!

Have you already started on the code for this, or shall I throw up a quick pull request?

_EDIT: After a while I assumed you hadn't started on it and went ahead and sent the pull request:_ https://github.com/FlixelCommunity/flixel/pull/185

[2013-10-24 11:29] Dovyski commented on #30
Sorry for the late reply, luckily you created the pull without me.

I've been thinking about this bug and the changes we are planning. I think it will make the API simpler, since `kill()/revive()` will work on the group itself instead of a mixed behavior of "itself/members".

As a consequence I think it can drastically affect developers, since `FlxGroup#kill()` will stop killing its members (it sm

[2013-10-24 11:51] Dovyski opened #186 "Take advantage of multi-core processors with Workers"
I was reading [this article](http://jacksondunstan.com/articles/2401) these days and thinking if Flixel Community could benefit from multi-core processors.

The idea is to identify workloads that can be performed in parallel using Workers, such as physics and path planning. It would be awesome if Flixel could check for Workers availability and, if that's the case, take advantage of it, transparent

[2013-10-26 22:29] Dovyski commented on #30
I've pushed this issue up to the next release.

[2013-10-30 10:49] Dovyski opened #188 "Add math vector methods to FlxPoint (or create FlxVector)"
Currently `FlxPoint` has one or two methods that can be used in math vector calculations. It's pretty hard to implement vector dependent functionalities using Flixel, such as [steering behaviors](http://gamedev.tutsplus.com/tutorials/implementation/understanding-steering-behaviors-seek/). Useful methods such as `rotate()`, `normalize()`, `perp()`, `dot()`, `cross()`, etc are missing.

It would be

[2013-11-15 18:19] Dovyski commented on #182
We are almost there! :D

As soon as we review and merge the last pending pull request (regarding the offset by 1 in STYLE_LOCKON), we can focus on the tasks here. Flixel Community [website](http://flixelcommunity.org) is ready (I've made a small facelift), only the download links are "wrong" (we must merge `dev` into `master` before I can fix them).

[2013-11-15 20:07] IQAndreas commented on #149
Merged in c2fc664abcba114563e2573266c794451773ed5d

[2013-11-15 20:07] #149 closed, assigned to moly

[2013-11-15 21:58] IQAndreas commented on #182
`dev` merged into `master` at 98f01d388b74ee690e47ea71eb80ac877ecd438b

Now I just need to (sorry it's taking so long, there were bugs in the automatic build script which for some reason weren't appearing when I ran it last time).

[2013-11-15 22:43] IQAndreas commented on #182
It is complete!!

There are two ways we could release Flixel (I uploaded files to both so we can play around with them and see what we like):

### The old way

As I have done before, I pushed everything to the following repo:
- https://github.com/FlixelCommunity/flixel-release

Each "category" can be found in a separate branch (and GitHub also generates download links for each type):
- `release` -

[2013-11-16 03:32] IQAndreas opened #190 "Add `FollowStyle` class"
This will allow you to create your own `FollowStyle` for the camera (perhaps you want it to pan easily whenever something moves instead of "jumping" immediately to the correct position?

And if you want a custom deadzone, you would either extend the class, or call something like `camera.follow(target, new FollowStyle(cutomDeadzone));`.

But primarily, it will use things like `FollowStyle.LOCKON`,

[2013-11-16 03:35] IQAndreas commented on #190
Also, this would make it easy to add FollowStyles that only follow the target on the `x` or `y` axis.

[2013-11-17 02:07] IQAndreas commented on #182
The final bug has been fixed and merged. Now all that is left is the website and cake.

After some consideration, I think I will scrap the "old" way of doing things and instead use [GitHub's new release system](https://github.com/FlixelCommunity/flixel/releases). I can handle some manual uploading.

I haven't uploaded the latest builds yet, however, the links to them will be identical to the links

[2013-11-18 00:19] IQAndreas commented on #182
Done! Flixel v2.56 builds have been uploaded:
- [Flixel v2.56](https://github.com/FlixelCommunity/flixel/releases/download/v2.56/flixel-v2.56.zip) - The full package; contains the source, compiled SWC, documentation, and other files (README, LICENSE, and CHANGELOG).
- [Flixel v2.56 SWC](https://github.com/FlixelCommunity/flixel/releases/download/v2.56/flixel-v2.56.swc)
- [Flixel v2.56 Documentatio

[2013-11-18 16:27] Dovyski commented on #182
[Website](http://flixelcommunity.org) updated, all set, it's time to celebrate! :tada:

Congratulations to everyone involved! It took us some time to discuss all those issues (and iron out all their bugs), but we did it. Now it's time to dive for more awesome features!

And the so promised cake :smiley:

![1006p78-slice-cake-l](https://f.cloud.github.com/assets/512405/1564206/43183cb2-506c-11e3-8c

[2013-11-18 19:58] WingEraser commented on #182
:smile: Now forum announcement and let Adam know about it.

[2013-11-22 14:02] greysondn commented on #182
I think I have two pulls from the previous version, with the old layout (assuming the change actually happened)... GIT has the ability to resolve merges where files have relocated last I checked and I offered to update those once the release happened as a base for work others wished to do (and to complete work in them).

Would it help the community for me to handle the merge from upstream down to

[2013-11-23 10:39] IQAndreas commented on #182
And it is appreciated! It is normal for many (and I must confess I have been guilty of this myself) to send an issue or pull request to a project, then disappear without it being resolved properly. Kudos to you for sticking around. :)

I just apologize that I'm putting you through so much extra work having to re-do the commits, but just say the word and I will give a hand.

[2013-11-23 10:41] IQAndreas commented on #182
I started a thread on the Flixel forums:
- [FlixelCommunity v2.56 (Flixel v2.55 without the bugs)](http://forums.flixel.org/index.php/topic,7510.0.html)

Let me know I should adjust the title or any of the content.

[2013-11-23 10:42] #182 closed, assigned to nobody

[2013-11-26 02:29] mikesoylu opened #192 "recursive FlxBasic.cameras setter"
It would be helpful if FlxBasic.cameras would be recursive in some situations. maybe we could add getter/setters to FlxBasic.cameras so it acts differently if the current instance is a container.

[2013-11-27 01:01] Dovyski opened #193 "Feature planning for v3.0"
This issue is aimed to keep track of the features/changes planned to land on Flixel Community v3.0.

| Feature/Change | Author | Complexity |
| --- | --- | --- |
| ~~Moving classes into folders: core (FlxBasic, FlxObject), graphics (FlxSprite, FlxText), etc (#194)~~ Added in ca946ab5b2a60ca7d4c1df13e84d29fb2fb40c01 | @WingEraser | Minor |
| ~~Make Flixel GPU accelerated (#90)~~ WIP in #219 | @Dovy

[2013-11-27 10:38] IQAndreas commented on #193
Nice table! Thanks for filling everything in.

Shall I copy over some of the discussion as well, or should we just continue from where we left off?

[2013-11-27 10:44] IQAndreas commented on #193
As for this one, I was thinking **primarily** of these classes, as they would compliment #141 and #142:
- [FlxColor](https://github.com/photonstorm/Flixel-Power-Tools/blob/master/Test%20Suite/src/org/flixel/plugin/photonstorm/FlxColor.as)
- [FlxMath](https://github.com/photonstorm/Flixel-Power-Tools/blob/master/Test%20Suite/src/org/flixel/plugin/photonstorm/FlxMath.as)

But others can of course co

[2013-11-27 12:34] WingEraser commented on #193
If you don't mind, I can take #142 as well while I'm refactoring the classes.
EDIT: also #141

[2013-11-27 12:56] IQAndreas commented on #193
Aw, I was actually looking forward to doing those. :stuck_out_tongue: If it's alright that I do those, I had some plans on how to group the "deprecated redirect" methods.

But I do think, if we move everything into packages, since it affects so many files, that should be done before any other changes so as to avoid merge conflicts. Do you have an IDE where you just drag and drop the classes to the

[2013-11-27 13:03] WingEraser commented on #193
I got FDT4 which should work out. I'll let you handle the #141 and #142. I'm going to start this weekend with a folder structure and put it in a separated issue.

[2013-11-27 14:52] IQAndreas commented on #193
Just a quick check first, we already talked about the cons of some of these proposed v2.58 features by email, but is there anyone that is adamantly against any of the changes or feel they should not be used?

[2013-11-27 19:28] Dovyski commented on #193
Let's continue from where we left off.

I'm ok with all changes! Of course I would like to discuss some things, such as which parts of Flixel Power Tools should be merged, which new singletons to create (e.g. `FlxM`, etc), etc, but all that can be done as we move to the implementation of each task.

[2013-11-27 19:38] Dovyski commented on #193
I can take #90 to start working on Stage3D support for Flixel. It will take a lot of experimentation and prototipation. Anyone else interested on this particular issue?

[2013-11-27 21:56] WingEraser commented on #193
I will join, but only for the thinking part. Can't start with this yet until next year, when I got more free time.

[2013-11-28 05:37] IQAndreas commented on #142
## FlxMath

I agree with @Dovyski, it's a better idea to be clear and name this `FlxMath` than save three characters by calling it `FlxM`; the full name is also clearer to beginners.

I would like to move the following **"pure math" functions** from `FlxU` to `FlxMath` (see [this commit](https://github.com/IQAndreas-testprojects/IQAndreas-flixel/commit/999a84f062b456dd8dd43908a57bb42849eff409)):
-

[2013-11-28 05:39] IQAndreas commented on #193
Excellent. I have already started on said discussion in https://github.com/FlixelCommunity/flixel/issues/142#issuecomment-29441081, just chime in there. Or should I create a separate issue for `FlxMath` and another for `FlxColor`?

[2013-11-28 05:53] IQAndreas commented on #142
## FlxMath from Flixel Power Tools

The following **"pure math" functions** are added in [FlxMath from FlixelPowerTools](https://github.com/photonstorm/Flixel-Power-Tools/blob/master/src/org/flixel/plugin/photonstorm/FlxMath.as):
- atan2(y:Number, x:Number):Number
- sinCosGenerator(length:uint, sinAmplitude:Number = 1.0, cosAmplitude:Number = 1.0, frequency:Number = 1.0):Array
- getSinTable():Arra

[2013-11-28 09:11] IQAndreas commented on #193
On a related topic, now that we have a stable release that is publicly available, shall we change the main (default) branch displayed in the repository to `master`? (currently, it is `dev`)

[2013-11-29 17:11] WingEraser opened #194 "Moving classes into folders"
Check the spreadsheet. It's public, so edit as you like.

https://docs.google.com/spreadsheet/ccc?key=0AnxnwZ_0WkxsdENoanBtYXUybk5rVEpzUnpGcFo1NkE&usp=sharing

[2013-11-29 18:57] IQAndreas commented on #142
Today I noticed there is also a `FlxVelocity` with the appropriate static math functions in the Power Tools:
- https://github.com/FlixelCommunity/Flixel-Power-Tools/blob/master/src/org/flixel/plugin/photonstorm/FlxVelocity.as

[2013-11-29 19:14] IQAndreas commented on #194
I started moving stuff, but then switched to adding comments instead of actually moving anything. i think it may be better that way since you guys can see the reasoning behind why I feel something should be moved elsewhere, and you can write whether you agree or disagree with my suggestions.

I'm rather new to using Google docs, so I'm not sure if you guys can see the comments I made, or if they w

[2013-11-29 19:15] WingEraser commented on #194
I see your comments ;)

[2013-11-29 19:24] IQAndreas commented on #142
## FlxCoreUtils

With only three methods, I feel the [FlxCoreUtils from the Flixel Power Tools](https://github.com/FlixelCommunity/Flixel-Power-Tools/blob/master/src/org/flixel/plugin/photonstorm/FlxCoreUtils.as) should be imported like this.

Move `copyObject()` to `FlxU`.

Move `gameContainer` and `mouseIndex` either as static methods of `FlxG`, or as instance members of `FlxGame`.

[2013-11-30 01:45] flunardelli commented on #194
I would like to suggest to look for ideas in haxeflixel project. I known that is a different beast but it seems very concise.

[2013-11-30 12:22] WingEraser commented on #194
Just looked inside haxeflixel
- Will there be more classes for FlxGroup? Then a `group` folder could be added
- The `effects` folder got emitter, particle, trail. Will there be more Camera effects for flixel in the future? And those effects at FPT, will they be added, then `effects` folder could be added.

I haven't added `plugin` folder, because I think a plugin should work without putting inside

[2013-11-30 20:13] Dovyski opened #195 "Create a nice Flixel Community loader and splash screen"
I have nothing against the current loader, I just think it doesn't fit quite well outside the browser, e.g. a mobile game. Usually a game loader has a company logo and something related to the game itself.

Right now it's not that easy to customize Flixel loader. A simpler, cleaner and easier loader to work with would be great.

Additionally Flixel doesn't have an official splash screen. Unity has

[2013-11-30 20:20] Dovyski commented on #193
Great! I will post my ideas on #90, we can discuss everything there.

Let's use the already open issue, it's easier to follow the discussion.

About the main branch displayed in the repository, I totally agree about using `master`. I thought I was the only one seeing `dev` as default =P

[2013-11-30 20:40] Dovyski commented on #142
### About FlxU and FlxMath

Ok to me. The only thing I don't like is the name `bound()`. It think `clamp()` would be a much better name.

They should be static methods of `FlxPoint`, in my opinion. All those methods act upon a point (or points), so they behave much more like "services", which fits quite well as static methods (e.g. `String.format()` in Java).

I agree it should belong to `FlxMath`

[2013-11-30 20:59] Gama11 commented on #142
I guess it might also be worth investigating whether the duplicates of the standard-math-functions like `abs()`, `floor()`, `ceil()` make sense / are actually faster than their `Math`-counterparts. I find it hard to believe that the flash-implementation is that bad, but there had to be a reason for creating these in the first place.

In HaxeFlixel, those actually turned out to be slower and have b

[2013-11-30 21:05] Dovyski commented on #142
### About FlxMath from Flixel Power Tools

Those are the functions I think we should merge into FlxMath:
- atan2(y:Number, x:Number):Number
- sqrt(val:Number):Number
- isOdd(n:Number):Boolean
- isEven(n:Number):Boolean
- asDegrees(radians:Number):Number
- asRadians(degrees:Number):Number

Excluding the sin/cos functions (which I don't think vanilla Flixel should have), the remaining functions are

[2013-11-30 21:05] WingEraser commented on #195
I actually created this in flixel-gdx. `FlxSplashScreen` extends `FlxState`.
When the state switches, it checks whether `FlxGame.showSplashScreen` is set to `true`. It passes the Game State into `FlxSplashScreen`, when the timer is 0 it will switch to the Game State.

[2013-11-30 23:56] Dovyski commented on #194
I've just added my 2 cents in the comments at the spreadsheet.

I don't think we are going to add more classes for FlxGroup, so there is no need to create a `group` package.

I don't know if FPT's effects will be added, but I like the idea of an `effects` package containing emitter and particle.

I guess that `plugin` folder is quite useful. When we improve the plugin system (#121), a folder to ho

[2013-12-01 00:08] Dovyski commented on #142
@Gama11 I don't like that duplication too, but I guess a reason why Adam did this was to make Flixel "standalone". As a consequence it's easier to port it to another platform, such as iOS (you don't have to mimic any Flash package, only port Flixel code).

I think we can make Flixel math function way better than their math-counterparts by using [these tricks](http://lab.polygonal.de/?p=81). For ex

[2013-12-01 10:10] IQAndreas opened #196 "Use bitwise operators for faster Math functions"
As brought up by @Dovyski in https://github.com/FlixelCommunity/flixel/issues/142#issuecomment-29564170
- [Bitwise gems – fast integer math](http://lab.polygonal.de/?p=81)

[2013-12-01 10:13] IQAndreas commented on #142
Although it probably wouldn't work in most AS3 libraries, in Flixel I feel it was actually a good idea (this is the type of library that ports well to other languages, as we have seen). (but of course, if the functions are slower, maybe they aren't such a good idea)

Good idea, I created an issue for that so we don't forget about it: https://github.com/FlixelCommunity/flixel/issues/196

I personal

[2013-12-01 10:56] IQAndreas commented on #142
Ka Wing's idea of using a spreadsheet was a rather good one, so I put these two up which may help make it clear which methods everyone agrees should be moved, and which ones are still up for debate:
- [FlxMath](https://docs.google.com/spreadsheet/ccc?key=0Avkk09kHolxjdEJPaHJMeFJmZTV1Rkt4bGgzV01HcVE&usp=sharing) - bold is math functions which still need to be moved, and blue is for functions relate

[2013-12-01 14:06] IQAndreas opened #197 "Add FlxRandom seeded random generator"
_(I touched on this briefly, but I would like to present the idea completely)_

Flixel already has a seeded random number generator, but right now the functions are strewn about a little everywhere: [Google Docs: FlxMath](https://docs.google.com/spreadsheet/ccc?key=0Avkk09kHolxjdEJPaHJMeFJmZTV1Rkt4bGgzV01HcVE&usp=sharing#gid=0) (see the highlighted blue functions)

What I would like to do is use [

[2013-12-01 19:49] WingEraser commented on #141
Here is a lot of colors: https://github.com/mono/MonoGame/blob/develop/MonoGame.Framework/Color.cs

[2013-12-02 12:58] Dovyski opened #198 "Add ray casting with soft shadows"
I got this idea while seeing [this amazing demo](https://dl.dropboxusercontent.com/u/1526334/yrdcExtra/rayCastingSoftShadows/index.html) by @yadurajiv ([Github repo here](https://github.com/yadurajiv/Ray-Casting-Soft-Shadows)). It's an AS3 implementation of ray casting using soft shadows.

It would be outstanding to have something like that in Flixel, as a plugin or a core feature.

[2013-12-02 13:16] IQAndreas commented on #198
I can't remember if I saw this in Flixel or somewhere else, but does Flixel already have some sort of ray-casting code in the tilemaps?

[2013-12-02 13:19] yadurajiv commented on #198
There was a game that had lasers and a ninja, I can't remember, he had
released some Ray tracing code which worked with flixel tile maps. I made
it look like shadows and stuff, hope to share that as soon as I get home -_-
On 02-Dec-2013 6:46 PM, "Andreas Renberg" notifications@github.com wrote:

[2013-12-02 13:22] WingEraser commented on #198
[Bullet Time Ninja](http://www.bullettimeninja.blogspot.nl/)

[2013-12-02 14:44] SeiferTim commented on #198
http://space.madsoftgames.com/ - I'd be happy to share the code for the lighting effect, although, I don't know how easy it would be to make it work better in Flixel...

[2013-12-03 13:29] yadurajiv commented on #198
Yush! BTN had a ray tracer that worked with tilemaps! You can do stuff like [this](https://dl.dropboxusercontent.com/u/1526334/yrdcExtra/rayCastingBTN/index.html). :)

[2013-12-11 10:42] Dovyski commented on #198
Thank you all for the contribution, guys! It seems this is a nice feature to add :)

Yeah, it has, it's `FlxTilemap::ray()` ([here's](https://github.com/FlixelCommunity/flixel/blob/master/src/org/flixel/FlxTilemap.as#L1261) the function definition). It could be used to create the feature I suggested if we build on top of it.

@SeiferTim Thanks! Your game is really cool! :D The lighting effect is a

[2013-12-11 10:49] Dovyski commented on #197
I like this idea. At first I thought it would just make things more complicated, but since `FlxG.random` will become an object with several useful methods, it's worth it :)

The only problem I see is `random()` method, it would lead to `FlxG.random.random()`. Is it ok?

[2013-12-11 10:52] Dovyski commented on #142
Yeah, that would be great. I suggested `clamp()` because it's widely used with CG, e.g. in shaders.

[2013-12-11 10:59] Dovyski commented on #142
I got lost in so much discussions :) Are you saying the use of `FlxG.effects` pretty much like `FlxG.effects.someEffect()` instead of `FlxEffec.someEffect()`?

[2013-12-11 19:31] Dovyski commented on #195
Nice approach! We could follow the same implementation.

[2013-12-13 21:56] Dovyski commented on #90
These are my current approaches to bring Flixel to the GPU world:

#### Approach 1: use Starling as the rendering backend

[Starling](http://gamua.com/starling/) is a well known and consolidated Stage3D framework. It has a lot of useful features, such as ATF files support, multi-resolution, etc. Additionally Adobe sponsors the project, which ensures it evolves continuously.

The idea is to use Sta

[2013-12-13 22:07] Dovyski commented on #90
After a lot of time thinking about the subject, I guess **1** is better, than **3**, **2** and finally **4**. Starling already handles several problems, e.g. context lost in mobile devices, which will help us focus our time on new Flixel features instead of fighting against Stage3D.

What do you guys think?

[2013-12-13 22:26] moly commented on #90
I would definitely recommend using Starling. Trying to do it all on your own will be far too much work, and I don’t think Axel is nearly as mature as Starling is.

[2013-12-13 22:46] flunardelli commented on #90
+1 to first approach.

[2013-12-13 23:57] olsonjj commented on #90
I'd go for option #1 using Starling.  Its highly used, tested and has some level of support from Adobe.

[2013-12-14 11:26] pshtif commented on #90
It was quite some time ago that I proposed on flixel forum that you can use Genome2D low level api and keep the other high level stuff to flixel. Basically all you need is create textures and initialize context and than just call context.draw where you want to render them, the hierarchy, interaction etc. everything would be left to you to implement, if you want to obviously.

[2013-12-14 12:07] WingEraser commented on #90
I haven't heard of Genome2D before. According to his [http://blog.flash-core.com/?p=3070](benchmark) it out performs Starling 1.4 (latest is 1.4.1). However the community is not very active judging from the latest topics.

[2013-12-14 12:11] pshtif commented on #90
I wouldn't measure it by bechmarks its always very dependant on use case, in classic Starling benchmark Genome2D is over 5 times faster than default latest Starling http://prntscr.com/25cuu0 Community is quite all over the place, people write me on facebook, google, skype, twitter... There is no central point and the forum is blocked and every single one needs authentification manually by me, but

[2013-12-15 01:04] Dovyski commented on #90
I've been following Genome2D since I added it to As3GameGears back in Dec/2011. It seems a great Stage3D engine with some interesting features.

@pshtif I thought about using Genome2D as a rendering backend, specially after I saw your talk at the last [Flash Online Conference](http://gonchar.me/blog/goncharposts/2069) (amazing, btw!). What confuses me is the closed-source part of the engine. Isn't

[2013-12-15 14:55] Dovyski commented on #190
This suggestion is amazing! It cleans up `FlxCamera#follow()` code and allows the creation of fancy following patterns as you mentioned.

Maybe we could change `follow()` to:

`follow(Target:FlxBasic, FollowStyle:uint, FollowStyleClass:Class = FollowStyle)`

That way the method is responsible for instantiating the requested follow style. The "official" styles could be implemented within the `Follo

[2013-12-27 00:53] Dovyski opened #199 "Centralize all input handling in FlxG.input"
When Flixel was created, developers usually focused on a single platform. That's not the case anymore: games are targeting different platforms, e.g. mobile, console, pc, web, etc.

In order to simplify the input handling process, the idea is to create `FlxG.input`. It will be responsible for providing methods to read any type of input, e.g.:

[code]

[2013-12-27 07:45] Gama11 commented on #199
I don't like this idea, it seems to bloat the code size for no reason at all. Yes, `FlxG` is a giant mess, but if you are going to screw over backwards compatibility like this anyway, you might as well create a new `FlxInput` class. Personally, I prefer [the way HaxeFlixel does it](https://github.com/HaxeFlixel/flixel/blob/dev/flixel/FlxG.hx) though:

[code]

There are tons of possibilities to cle

[2013-12-27 12:26] WingEraser commented on #199
`FlxG` will be fine after the clean up https://github.com/FlixelCommunity/flixel/issues/142.

I wouldn't do `FlxG.input`, or do as @Gama11 says `FlxInput`.

flixel-gdx https://gi1thub.com/flixel-gdx/flixel-gdx/blob/master/flixel-core/src/org/flixel/FlxG.java
only got two `FlxG.mouse` and `FlxG.keys`. `Mouse` handles also the touches from mobile devices, so you won't need to type `FlxG.mouse.justPr

[2013-12-28 08:21] Ohmnivore commented on #177
It's gorgeous!

[2013-12-29 12:00] Gama11 commented on #177
While it does look pretty cool, that demo seems awfully laggy.

[2014-01-03 04:14] SestrenExsis commented on #132
Is there currently any plan to add customizable hotkeys for changing the volume and muting? I don't currently see an issue for it, but perhaps I overlooked it.

[2014-01-03 08:54] Gama11 commented on #132
No that I know of, no. I like the way we handled that in HaxeFlixel, [with String Arrays](https://github.com/HaxeFlixel/flixel/blob/dev/flixel/system/frontEnds/SoundFrontEnd.hx?source=cc#L37) - very flexible.

[2014-01-26 11:17] IQAndreas commented on #142
Almost. Right now, it's `FlxG.flash()`, and I'm recommending changing that to `FlxG.effects.flash()`.

See:
- [Moved FlxG camera effects to separate class](https://github.com/IQAndreas-testprojects/IQAndreas-flixel/commit/74f09bde5320348a427a8bfa5a0d7e19f006edf3)
- [Moved "replay" and "recording" static functions from FlxG to FlxVCR](https://github.com/IQAndreas-testprojects/IQAndreas-flixel/commi

[2014-01-26 11:19] IQAndreas commented on #142
I'm not getting comments showing up in any of the Google Spreadsheet. Are they removed after a while, or am I doing something wrong?

Also, there are several edits by anonymous users, but I can't see what they actually changed. Is there any way to view only the diff like in Git or Wikipedia edits?

[2014-01-26 11:49] WingEraser commented on #142
The tab at the bottom you'll see a white number on a black background next to the label. The number says the total comments on the sheet. Click on it and you'll get all comments.

You can go back to previous changes by `File > See revision history`.

[2014-01-26 13:49] IQAndreas commented on #142
[I can't see any of that.](https://f.cloud.github.com/assets/449027/2004023/96bd4ab0-8690-11e3-9178-35b5f0a3c885.png) I checked it again in Chrome, and it appeared; must be a FireFox thing.

[2014-01-26 13:57] WingEraser commented on #142
I can see it in Firefox (v26, Windows 7 x64) and I'm not logged in.

[2014-01-26 17:17] Dovyski commented on #142
I like it!

[2014-01-26 20:36] Gama11 commented on #142
I suggest you guys take a look at the [front ends](https://github.com/HaxeFlixel/flixel/tree/dev/flixel/system/frontEnds) in [`FlxG` of HaxeFlixel](https://github.com/HaxeFlixel/flixel/blob/3.2.1/flixel/FlxG.hx#L201-L264), I'm very happy with that system.

I don't think the three camera effects there are are really worth it to create a new class for. In HaxeFlixel we have the [CameraFrontEnd](http

[2014-01-31 15:29] mezkhalin commented on #196
If it's not a problem I am happy to take on this issue

[2014-02-02 20:33] Dovyski commented on #196
Awesome! :) You can start working on this right now, if you want, but I think it's better if you could hold on until Andreas has organized `FlxG`/`FlxU` (issue https://github.com/FlixelCommunity/flixel/issues/142).

[2014-02-04 01:58] mezkhalin commented on #196
Wonderful! I'll wait until the reorganization then, could prove cumbersome otherwise ;)

[2014-02-06 19:27] Dovyski commented on #90
After reading [this post](http://blog.flash-core.com/?p=3132) by @pshtif, I can't ignore Genome2D as a rendering backend for Flixel. It's really powerful and its direct GPU drawing capabilities fit quite well to our case.

I will start with Genome2D instead of Starling. Let's see how it goes.

[2014-02-08 17:24] Beeblerox commented on #90
@Dovyski have you started work on this mega feature? i'm asking since i'd like to try to add it to flixel also

[2014-02-08 17:34] Dovyski commented on #90
@Beeblerox no, I haven't. I've just read and did some research, but no code yet. It would be awesome if you could help :)

[2014-02-08 19:23] Beeblerox commented on #90
@Dovyski ok, i'll start working on it tomorrow

[2014-02-09 10:53] pshtif commented on #90
Nice to hear you are going to try out Genome2D guys, let me know if there is any problem at the new google group https://groups.google.com/forum/#!forum/genome2d

[2014-02-09 11:50] Beeblerox commented on #90
@pshtif thanks, will ask you if there will be any problems

[2014-02-16 23:15] greysondn commented on #196
The comments give a page which may or may not be of use during this process:
http://graphics.stanford.edu/~seander/bithacks.html

It is important to bench the results to be sure it's actually doing good instead of just taking it at face value (and will have to be retested from time to time); I have found such things as I've searched them out to be hit-and-miss chiefly dependent on age. One of the